{% extends 'DofCMSBundle::layout.html.twig' %}

{% block title %}
    {{ article.getName(locales()) }} - Dofawa
{% endblock %}

{% block breadcrumb %}
<li>{{ article.getName(locales()) }}</li>
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_REDACTOR_FULL') or is_granted('ROLE_REDACTOR') and article.owner.id == app.user.id %}
        <a class="btn btn-primary" href="{{ path('admin_dof_cms_article_edit', { 'id': article.id }) }}">
            Editer (ADMIN)
        </a>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary" href="{{ path('dof_cms_edit', {'id' : article.id }) }}">
            Editer
        </a>
    {% endif %}

    <article itemscope itemtype="http://schema.org/Article">
        <div class="page-header">
            <h1>
                <span itemprop="name">{{ article.getName(locales()) }}</span>
                <small>
                    <time itemprop="dateCreated" datetime="{{ article.createdAt | date("Y-m-d") }}">{{ article.createdAt | date("d/m/Y") }}</time>
                </small>
            </h1>
            By <a href="{{ path('dof_profile_userpage', {'slug' : article.owner.slug}) }}">{{ article.owner.username }}</a>
            {% if article.updater is not null and article.owner.username != article.updater.username %}
                Edité par <a href="{{ path('dof_profile_userpage', {'slug' : article.updater.slug}) }}">{{ article.updater.username }}</a>
            {% endif %}
        </div>
        <div class="well well-lg" itemprop="articleBody">
            {{ article.getDescription(locales()) | convert_to_html }}
        </div>
    </article>
{% endblock %}
