{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>Archive</li>
{% endblock %}

{% block body %}
<ul class="list-group">
  {% for article in articles %}
      <li class="list-group-item"><a href="{{ path('dof_articles_view', { 'slug' : article.slug }) }}">{{ article.getName(locales()) }}</a><span class="badge hidden-sm hidden-md">le {{ article.createdAt | date("d/m/Y") }}</span></li>
  {% else %}
      <li>Pas (encore !) d'articles</li>
  {% endfor %}
</ul>
<ul class="pagination">
  <li><a href="{{ path('dof_articles_archive', { 'page' : "$page-1" }) }}">&laquo;</a></li>

  {% for i in 0..$page %}
    <li><a href="{{ path('dof_articles_archive', { 'page' : "{{i}}" }) }}">{{i}}</a></li>
  {% endfor %}

  <li><a href="{{ path('dof_articles_archive', { 'page' : "$page+1" }) }}">&raquo;</a></li>
</ul>
{% endblock %}