{% extends "::layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li>{{ 'of'|trans({'%name%': user.username }, 'profile')}}</li>
{% endblock %}

{% block body %}
{% if app.user is not null and app.user.id == user.id %}
<span class="form editbtn">
	<a class="btn" href="">{{ 'edit' | trans({}, 'generalTrans') }}</a>
</span>
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<h2>{{ 'profil' | trans({}, 'profile') }}</h2>
					<p><strong>{{ 'inputs.nbvisits' | trans({}, 'profile') }}: </strong> {{ user.nbvisite }} </p>
					<p><strong>{{ 'inputs.point' | trans({}, 'profile') }}</strong> : {{ user.point }}</p>
					<p><strong>{{ 'inputs.date.born' | trans({}, 'profile') }}</strong> : {{ user.born | date('d-m-Y') }}</p>
					<p><strong>{{ 'inputs.location' | trans({}, 'profile') }}</strong> : {{ user.lieu }}</p>
					<p><strong>{{ 'inputs.guild' | trans({}, 'profile') }}</strong> : {{ user.guilde }}</p>
					<p><strong>{{ 'inputs.website' | trans({}, 'profile') }}</strong> : {{ user.site }}</p>
				</div><!--/col-->          
				<div class="col-xs-12 col-sm-4 text-center">
					<img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
				</div><!--/col-->
			</div>
		</div><!--/panel-body-->
	</div><!--/panel-->
</div>

{# Edition du profil #}
<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">{{ 'edit' | trans({}, 'generalTrans') }}</a>
{# Changement de mot de passe #}
<a href="{{ path('fos_user_change_password') }}" class="btn btn-default">{{ 'change_password.submit'}}</a>
{% endif %}
{% endblock %}