{% extends "::layout.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	> {{ 'index.profileof'|trans({'%name%': user.getUsername()})}}
{% endblock %}

{% block body %}
<section id="identite">
	<header>
		<h1>{{ 'index.indentie' | trans() }}</h1>
	</header>
	<section>
		<table>
			<tr><td>{{ 'index.registeredon' | trans() }} :</td> <td>{{ user.getInscription() }}</td></tr>
			<tr><td>{{ 'index.point' | trans() }} :</td> <td>{{ user.getPoint() }}</td></tr>
		</table>
	</section>

	<footer>
    	<h1>Badges:</h1>
	</footer>
</section>


<section id="persosprofile">

	
</section>
{% endblock %}