{% extends "::layout.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	> {{ 'of'|trans({'%name%': user.username }, 'profile')}}
{% endblock %}

{% block body %}
<section id="identite">
	<h1>{{ 'profil' | trans({}, 'profile') }}
		{% if app.user.id == user.id %}
			<a class="btn" href="/app_dev.php/fr/profile/edit">Editer</a>
		{% endif %}
	</h1>
	<section id="infosprofil">
		<table>
			<tr><td>{{ 'inputs.nbvisits' | trans({}, 'profile') }} : {{ user.nbvisite }}</td></tr>
			<tr><td>{{ 'inputs.point' | trans({}, 'profile') }} : {{ user.point }}</td></tr>
			<tr><td>{{ 'inputs.date.born' | trans({}, 'profile') }} : {{ user.born | date('Y-m-d') }}</td></tr>
			<tr><td>{{ 'inputs.location' | trans({}, 'profile') }} : {{ user.lieu }}</td></tr>
			<tr><td>{{ 'inputs.guild' | trans({}, 'profile') }} : {{ user.guilde }}</td></tr>
			<tr><td>{{ 'inputs.website' | trans({}, 'profile') }} : {{ user.site }}</td></tr>
		</table>
		<section id="imgprofil"></section>
	</section>

	<footer>
    	<h1>{{ 'inputs.badges' | trans({}, 'profile') }}:</h1>
	</footer>
</section>

<section id="identite">
	<h1>{{ 'inputs.persos' | trans({'%name%': user.username }, 'profile') }}</h1>	
</section>
{% endblock %}