{% extends 'DofAdminBundle:Users:layout.html.twig' %}

{% block breadcrumb %}
	{{ parent() }}
	<li>Edition du profil de {{ user.username}} ({{ user.id }})</li>
{% endblock %}

{% block body %}
	<h3>otherForm</h3>
	<div class="form">
	    {{ form_row(form.otherForm.field_name) }}
	</div>
	{{ form_rest(form) }}
{% endblock %}