{% extends 'DofAdminBundle:Users:layout.html.twig' %}

{% block body %}
{% include 'DofMainBundle:Default:pagination.html.twig' %}

<div id="errorpanel">
</div>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Liste des utilisateurs</div>
	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Pseudo</th>
				<th class="hidden-xs hidden-sm">Email</th>
				<th class="hidden-xs hidden-sm">Admin</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}	
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td class="hidden-xs hidden-sm">{{ user.email}}</td>
				<td class="hidden-sm hidden-xs">
					{% if user.hasRole('ROLE_SUPER_ADMIN') %}
						Super-Admin
					{% elseif user.hasRole('ROLE_ADMIN')%}
						Admin
					{% endif %}
				</td>
				<td>
					<span class="glyphicon glyphicon-pencil pointer"></span> 
					<span class="glyphicon glyphicon-remove pointer deletion" data-url="{{ path('dof_admin_users_delete', { "id": user.id }) }}" data-description="{{ user.username }}"></span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% include 'DofMainBundle:Default:pagination.html.twig' %}
{% endblock %}