{% extends 'DofForumBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}<li><a href="{{ path('dof_forum_show_forum', { 'slug' : topic.forum.slug }) }}">{{ topic.forum.getName(locales()) }}</a></li>
    <li><a href="{{ path('dof_forum_show_topic', { 'slug' : topic.slug }) }}">{{ topic.getName(locales()) }}</a></li><li>{{ 'new_mess' | trans({}, 'forum')}}</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ topic.getName(locales()) }}</h3>
		</div>
		<div class="panel-body">
            <form method="post" {{ form_enctype(form) }} >
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary text-center" />
            </form>
		</div>
	</div>
{% endautoescape %}
{% endblock %}
