<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dofawa{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('bundles/dofmain/css/bootstrap.min.css') }}">

  {% block style %}
  {% endblock %}

  <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="DESCRIPTION" content="Dofawa est un fan site dédié à l'univers de dofus avec de nombreux tutoriels, conseils et astuces pour Dofus et ses donjons " />

  <meta name="KEYWORDS" content="dofus ,astuces, quêtes, donjon, dofus build , tutoriels dofus , calculateur dofus, secrets, solutions, dofus tutoriels , donjons dofus , succès dofus, dofus fan site , astuces kamas , dofus frigost , dofus 2.0, élevage dofus, builds dofus, avatars dofus" />

  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/xnutility/js/jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/xnutility/js/utlcat.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/dofmain/js/bootstrap.min.js') }}"></script>

  <script defer type="text/javascript" src="http://c.ad6media.fr/l.js"></script> 

  <script type="text/javascript" defer async>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36904065-1']);
    _gaq.push(['_setDomainName', 'dofawa.fr']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  
  {# Barre de navigation fixe #}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('dof_main_homepage') }}">Dofawa</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {# Languages switcher#}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path(app.request.get('_route'),
                  app.request.attributes.get('_route_params')|merge({'_locale': 'en'}) ) }}">
                  English
                </a></li>
                <li><a href="{{ path(app.request.get('_route'),
                  app.request.attributes.get('_route_params')|merge({'_locale': 'fr'}) ) }}">
                  Français
                </a></li>
                <li><a href="{{ path(app.request.get('_route'),
                  app.request.attributes.get('_route_params')|merge({'_locale': 'es'}) ) }}">
                  Español
                </a></li>
                <li><a href="{{ path(app.request.get('_route'),
                  app.request.attributes.get('_route_params')|merge({'_locale': 'de'}) ) }}">
                  Deutsch
                </a></li>
              </ul>
            </li>

            {# Nav #}
            <li {% if app.request.get('_route') == 'dof_main_homepage' %}class="active"{% endif %}><a href="{{ path('dof_main_homepage') }}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Objets <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Panoplies</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Items</li>
                <li><a href="#">Equipements</a></li>
                <li><a href="#">Armes</a></li>
                <li><a href="#">Familiers</a></li>
                <li><a href="#">Ressources</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Univers <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Quêtes</a></li>
                <li><a href="#">Tutoriels</a></li>
                <li><a href="#">Donjons</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Outils <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Stuffs</li>
                {% if app.user is not null %}
                <li><a href="#">Mes builds</a></li>
                {% endif %}
                <li><a href="#">Recherche de build</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Autres</li>
                <li><a href="#">Les guildes</a></li>
                <li><a href="#">Calculateurs</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Outils <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Stuffs</li>
                {% if app.user is not null %}
                <li><a href="#">Mes builds</a></li>
                {% endif %}
                <li><a href="#">Recherche de build</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Autres</li>
                <li><a href="#">Les guildes</a></li>
                <li><a href="#">Calculateurs</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">La communauté <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Fan-art</a></li>
                <li><a href="#">Skins</a></li>
                <li><a href="#">Forum officiel</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fan-sites <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Dofawa</li>
                <li><a href="#">Les News</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nos partenaires</li>
                <li><a href="#">Dofusblog</a></li>
                <li><a href="#">[...]</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if app.user is null %}
            <li class="dropdown" id="menuLogin">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
              <div class="dropdown-menu" style="padding:17px;">
                {{ render(controller('DofUserBundle:Security:modulelogin', { 'module': 'module' })) }}
              </div>
            </li>
            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
            {% else %}
            <li class="dropdown" id="menuLogin">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ app.user.username }}</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                  </a>
                </li>
                <li>
                  <a href="{{ path('dof_profile_userpage', {'name_user': app.user.getUsername()}) }}">
                    {{ 'mine'|trans({}, 'profile') }}
                  </a>
                </li>
                <li>
                  <a href="#">
                    Messagerie
                  </a>
                </li>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>


  <!-- Conteneur principal -->
  <div class="container">

    

  </div>

</body>
</html>
