<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dofawa{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('bundles/xnutility/css/utlcat.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/dofmain/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/dofarticles/css/moduleright.min.css')}}">

  {% block style %}
  {% endblock %}

  <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="DESCRIPTION" content="Dofawa est un fan site dédié à l'univers de dofus avec de nombreux tutoriels, conseils et astuces pour Dofus et ses donjons " />

  <meta name="KEYWORDS" content="dofus ,astuces, quêtes, donjon, dofus build , tutoriels dofus , calculateur dofus, secrets, solutions, dofus tutoriels , donjons dofus , succès dofus, dofus fan site , astuces kamas , dofus frigost , dofus 2.0, élevage dofus, builds dofus, avatars dofus" />

  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/xnutility/js/jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/xnutility/js/utlcat.min.js') }}"></script>

  <script defer type="text/javascript" src="http://c.ad6media.fr/l.js"></script> 

  <script type="text/javascript" defer async>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36904065-1']);
    _gaq.push(['_setDomainName', 'dofawa.fr']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  
  {# Barre de navigation fixe #}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          </ul>
        </div>
      </div>
    </div>


  <!-- Conteneur principal -->
  <div class="container">

    

  </div>

</body>
</html>
