{% autoescape  %}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <h3 class="panel-title">{{ monster.getName(locales())}} <font size="2">Niveau : {{ monster.minLevel }} {% if monster.maxLevel != monster.minLevel %}- {{ monster.maxLevel}}{% endif %}</font></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {# Left column #}
                <div class="col-sm-3">
                    <a href="{{ path('dof_monster_show', {'slug': monster.slug}) }}" class="thumbnail">
                        <img class="img-responsive" src="{{ asset('bundles/dofitems/img/default.png') }}" alt="{{ monster.getName(locales()) }}">
                    </a>
                    <div class="text-center">
                        <p>
                            {% if monster.preliminary %}
                                <span class="label label-danger">Bêta</span>
                            {% endif %}
                            {% if monster.release != 1 %}
                                <span class="label label-default hidden-xs">{{ monster.release }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% macro effect(min,max) %}
                    {{ min }}
                    {% if min != max %}
                        {{ 'to' | trans({}, 'item') }}
                        {{ max }}
                    {% endif %}
                {% endmacro %}
                {% import _self as monsterEffect %}

                {# Right column #}
                <div class="row">
                    <div class="col-lg-3">
                        <table>
                            <tr>
                                <td>{{ 'vitality' | trans({'%1%': ''}, 'item') }}: </td>
                                <td class="padLeftTab"><img src="{{ asset('bundles/dofitems/img/vitality.png') }}" alt=""> {{ monsterEffect.effect( monster.minLifePoints , monster.maxLifePoints) }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ap' | trans({'%1%': ''}, 'item') }}: </td>
                                <td class="padLeftTab"><img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt=""> {{ monsterEffect.effect( monster.minActionPoints , monster.maxActionPoints) }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'mp' | trans({'%1%': ''}, 'item') }}: </td>
                                <td class="padLeftTab"><img src="{{ asset('bundles/dofitems/img/mp.png') }}" alt=""> {{ monsterEffect.effect( monster.minMovementPoints , monster.maxMovementPoints) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table>
                            <tr>
                                <td><img src="{{ asset('bundles/dofitems/img/earth.png') }}" alt=""> {{ monsterEffect.effect( monster.minEarthResistance , monster.maxEarthResistance) }}</td>
                                <td>{{ 'percentEarthResistance' | trans({'%1%': ''}, 'item') }}</td>
                            </tr>
                            <tr>
                                <td><img src="{{ asset('bundles/dofitems/img/air.png') }}" alt=""> {{ monsterEffect.effect( monster.minAirResistance , monster.maxAirResistance) }}</td>
                                <td>{{ 'percentAirResistance' | trans({'%1%': ''}, 'item') }}</td>
                            </tr>
                            <tr>
                                <td><img src="{{ asset('bundles/dofitems/img/fire.png') }}" alt=""> {{ monsterEffect.effect( monster.minFireResistance , monster.maxFireResistance) }}</td>
                                <td>{{ 'percentFireResistance' | trans({'%1%': ''}, 'item') }}</td>
                            </tr>
                            <tr>
                                <td><img src="{{ asset('bundles/dofitems/img/water.png') }}" alt=""> {{ monsterEffect.effect( monster.minWaterResistance , monster.maxWaterResistance) }}</td>
                                <td>{{ 'percentWaterResistance' | trans({'%1%': ''}, 'item') }}</td>
                            </tr> 
                            <tr>
                                <td><img src="{{ asset('bundles/dofitems/img/neutral.png') }}" alt=""> {{ monsterEffect.effect( monster.minNeutralResistance , monster.maxNeutralResistance) }}</td>
                                <td>{{ 'percentNeutralResistance' | trans({'%1%': ''}, 'item') }}</td>
                            </tr>
                        </table>
                    </div>
                    {# Close right column #}
                </div>
            </div>

        </div>
    </div>
{% endautoescape %}
