{% trans_default_domain 'monster' %}

{% autoescape  %}
{% set min = monster.minGrade %}
{% set max = monster.maxGrade %}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <h3 class="panel-title">{{ monster.getName(locales())}} <font size="2">Niveau : {{ min.level }} {% if max.level != min.level %}- {{ max.level}}{% endif %}</font></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {# Left column #}
                <div class="col-sm-3">
                    <a href="{{ path('dof_monster_show', {'slug': monster.slug}) }}" class="thumbnail">
                        <img class="img-responsive" src="{{ (monster.webPath) ? asset(monster.webPath) : asset('bundles/dofitems/img/default.png') }}" alt="{{ monster.getName(locales()) }}">
                    </a>
                    <div class="text-center">
                        {% if monster.boss or monster.miniBoss %}
                        <p>
                            {% if monster.boss %}
                            <span class="label label-info">{{ 'boss' | trans }}</span>
                            {% endif %}
                            {% if monster.miniBoss %}
                            <span class="label label-info">{{ 'archmonster' | trans() }}</span>
                            {% endif %}
                        </p>
                        {% endif %}
                        <p>
                            {% if monster.preliminary %}
                                <span class="label label-danger">Bêta</span>
                            {% endif %}
                            {% if monster.release != 1 %}
                                <span class="label label-default hidden-xs">{{ monster.release }}</span>
                            {% endif %}
                        </p>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <p>
                            <a class="glyphicon glyphicon-camera" href="{{ path('dof_monster_addskin', {'id': monster.id}) }}"></a>
                        </p>
                        {% endif %}
                    </div>
                </div>

                {% macro interval(min,max) %}
                    {% if max < min %}
                        {% set pre = min %}
                        {% set min = max %}
                        {% set max = pre %}
                    {% endif %}
                    {{ min }}
                    {% if min != max %}
                        {{ 'to' | trans({}, 'item') }}
                        {{ max }}
                    {% endif %}
                {% endmacro %}
                {% import _self as monster %}

                {# Right column #}
                <div class="col-xs-12 col-sm-9">
                    <div class="col-lg-5">
                        {{ 'vitality' | trans({'%1%': ''}, 'item') }}: <img src="{{ asset('bundles/dofitems/img/vitality.png') }}" alt=""> {{ monster.interval( min.lifePoints , max.lifePoints) }}
                        <br>
                        {{ 'ap' | trans({'%1%': ''}, 'item') }}: <img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt=""> {{ monster.interval( min.actionPoints , max.actionPoints) }}
                        <br>
                        {{ 'mp' | trans({'%1%': ''}, 'item') }}: <img src="{{ asset('bundles/dofitems/img/mp.png') }}" alt=""> {{ monster.interval( min.movementPoints , max.movementPoints) }}
                        <br>
                    </div>
                    <div class="col-lg-7">
                        <img src="{{ asset('bundles/dofitems/img/earth.png') }}" alt=""> {{ monster.interval( min.earthResistance , max.earthResistance) }}{{ 'percentEarthResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/air.png') }}" alt=""> {{ monster.interval( min.airResistance , max.airResistance) }}{{ 'percentAirResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/fire.png') }}" alt=""> {{ monster.interval( min.fireResistance , max.fireResistance) }}{{ 'percentFireResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/water.png') }}" alt=""> {{ monster.interval( min.waterResistance , max.waterResistance) }}{{ 'percentWaterResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/neutral.png') }}" alt=""> {{ monster.interval( min.neutralResistance , max.neutralResistance) }}{{ 'percentNeutralResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                    </div>
                    {# Close right column #}
                </div>
            </div>
            {% set normalDrops = monster.normalDrops %}
            {% set conditionedDrops = monster.conditionedDrops %}
            {% if normalDrops is not empty %}
                <hr />
                <div class="text-center">
                    <span class="pull-left">
                        Drops :
                    </span>
                    {% for drop in normalDrops %}
                        {% set object = drop.object %}
                        <span>
                            <a href="{{ path('dof_items_show', {'slug': object.slug}) }}">
                                <img style="width: 39px;" src="{{ (object.webPath) ? asset(object.webPath) : asset('bundles/dofitems/img/default.png') }}" alt="">
                            </a>
                            <span class="new-tooltip drop-tooltip">
                                {{ drop.count >= 16 ? '∞' : drop.count }} x {{ object.getName(locales()) }}<br>
                                {{ monster.interval(drop.minPercent, drop.maxPercent) }}% de drop
                                {% if drop.threshold is not empty %}
                                <br>
                                Seuil de : {{ drop.threshold }} {{ 'prospecting' | trans({}, 'item') }}
                                {% endif %}
                            </span>
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if conditionedDrops is not empty %}
            <hr />
            <div class="text-center">
                <span class="pull-left">
                    Drops conditionnés :
                </span>
                {% for drop in conditionedDrops %}
                {% set object = drop.object %}
                <span>
                    <a href="{{ path('dof_items_show', {'slug': object.slug}) }}">
                        <img style="width: 39px;" src="{{ (object.webPath) ? asset(object.webPath) : asset('bundles/dofitems/img/default.png') }}" alt="">
                    </a>
                    <span class="new-tooltip drop-tooltip">
                        {{ drop.count >= 16 ? '∞' : drop.count }} x {{ object.getName(locales()) }}<br>
                        {{ monster.interval(drop.minPercent, drop.maxPercent) }}% de drop
                        {% if drop.threshold is not empty %}
                            <br>
                            Seuil de : {{ drop.threshold }} {{ 'prospecting' | trans({}, 'item') }}
                        {% endif %}
                        {% if drop.treatedCriteria is not empty %}
                        <hr/>
                        <ul class="list-unstyled">
                            {% include 'DofItemsBundle::criteria.html.twig' with {'criterion': drop.treatedCriteria} %}
                        </ul>
                        {% endif %}
                    </span>
                </span>
                {% endfor %}
            </div>
            {% endif %}
            {% if paramOf | length > 0 %}
                <hr />
                <b>Invoqué / Influencé par :</b>
                {% for spell in paramOf %}
                    <a href="{{ path('dof_spell_show', { slug: spell.slug }) }}">{{ spell.getName(locales()) }}</a>
                    {% if not loop.last %}
                    |
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if monster.archMonster is not empty or monster.normalMonster is not empty %}
                <hr />
                {% if monster.archMonster is not empty %}
                {{ 'archmonster' | trans }} : <a href="{{ path('dof_monster_show', {'slug': monster.archMonster.slug}) }}">{{ monster.archMonster.getName(locales()) }}</a><br>
                {% endif %}
                {% if monster.normalMonster is not empty %}
                {{ 'normalmonster' | trans }} : <a href="{{ path('dof_monster_show', {'slug': monster.normalMonster.slug}) }}">{{ monster.normalMonster.getName(locales()) }}</a><br>
                {% endif %}
            {% endif %}
            {% if monster.subAreas is not empty %}
                <hr />
                {{ 'subareas' | transchoice(monster.subAreas | length)}} :
                {% for sub_area in monster.subAreas %}
                    {{ sub_area.getName(locales()) }}
                    {% if not loop.last %}
                    |
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endautoescape %}
