{% autoescape  %}
{% set min = monster.minGrade %}
{% set max = monster.maxGrade %}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <h3 class="panel-title">{{ monster.getName(locales())}} <font size="2">Niveau : {{ min.level }} {% if max.level != min.level %}- {{ max.level}}{% endif %}</font></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {# Left column #}
                <div class="col-sm-3">
                    <a href="{{ path('dof_monster_show', {'slug': monster.slug}) }}" class="thumbnail">
                        <img class="img-responsive" src="{{ asset('bundles/dofitems/img/default.png') }}" alt="{{ monster.getName(locales()) }}">
                    </a>
                    <div class="text-center">
                        <p>
                            {% if monster.preliminary %}
                                <span class="label label-danger">Bêta</span>
                            {% endif %}
                            {% if monster.release != 1 %}
                                <span class="label label-default hidden-xs">{{ monster.release }}</span>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% macro effect(min,max) %}
                    {{ min }}
                    {% if min != max %}
                        {{ 'to' | trans({}, 'item') }}
                        {{ max }}
                    {% endif %}
                {% endmacro %}
                {% import _self as monsterEffect %}

                {# Right column #}
                <div class="row">
                    <div class="col-lg-3">
                        {{ 'vitality' | trans({'%1%': ''}, 'item') }}: <img src="{{ asset('bundles/dofitems/img/vitality.png') }}" alt=""> {{ monsterEffect.effect( min.lifePoints , max.lifePoints) }}
                        <br>
                        {{ 'ap' | trans({'%1%': ''}, 'item') }}: <img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt=""> {{ monsterEffect.effect( min.actionPoints , max.actionPoints) }}
                        <br>
                        {{ 'mp' | trans({'%1%': ''}, 'item') }}: <img src="{{ asset('bundles/dofitems/img/mp.png') }}" alt=""> {{ monsterEffect.effect( min.movementPoints , max.movementPoints) }}
                        <br>
                    </div>
                    <div class="col-lg-5">
                        <img src="{{ asset('bundles/dofitems/img/earth.png') }}" alt=""> {{ monsterEffect.effect( min.earthResistance , max.earthResistance) }}{{ 'percentEarthResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/air.png') }}" alt=""> {{ monsterEffect.effect( min.airResistance , max.airResistance) }}{{ 'percentAirResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/fire.png') }}" alt=""> {{ monsterEffect.effect( min.fireResistance , max.fireResistance) }}{{ 'percentFireResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/water.png') }}" alt=""> {{ monsterEffect.effect( min.waterResistance , max.waterResistance) }}{{ 'percentWaterResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                        <img src="{{ asset('bundles/dofitems/img/neutral.png') }}" alt=""> {{ monsterEffect.effect( min.neutralResistance , max.neutralResistance) }}{{ 'percentNeutralResistance' | trans({'%1%': ''}, 'item') }}
                        <br>
                    </div>
                    {# Close right column #}
                </div>
            </div>
            {% if paramOf | length > 0 %}
                <hr />
                <b>Invoqué / Influencé par :</b>
                {% for spell in paramOf %}
                    <a href="{{ path('dof_spell_show', { slug: spell.slug }) }}">{{ spell.getName(locales()) }}</a>
                    {% if not loop.last %}
                    |
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endautoescape %}
