{% extends "::layout.html.twig" %}

{% block body %}
<form action="{{ path('dof_graphics_pipette_process') }}" method="POST">
<label>Adresse de la page perso : <input name="addresses[]" /></label>
<input type="submit" value="C'est parti !" />
</form>
<br />
<br />
{% for result in results %}
{% if result.look is not null %}
  <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ result.address }}</div>
      <div class="panel-body">
        <p>Voici les infos de cette page perso :</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Classe</td>
            <td>
              {% if result.breed is empty %}
                Non définie
              {% else %}
                {{ result.breed }}
              {% endif %}</td>
          </tr>
          {% for key, color in result.colors %}
          <tr>
            <td>Couleur {{ key }}</td>
            <td>
              <svg height="26" width="26" style="vertical-align:middle">
                <rect x="0" y="0" width="26" height="26" rx="5" ry="5" style="fill:#45423a;"></rect>
                <rect x="2.5" y="2.5" width="21" height="21" rx="3" ry="3" style="fill:{{ color | dechex }};"></rect>
              </svg>
              {{ color | dechex }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{#
Code du look
<div>{{ result.look.format(true) }}</div>
#}
{% else %}
<div class="error">Une erreur s'est produite !</div>
{% endif %}
{% endfor %}
{% endblock %}
