{% trans_default_domain 'item' %}

{% autoescape  %}
{% if display != 'modal' %}
<div class="panel panel-default item">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block name %}
                {{ itemTemplate.getName(locales()) }}
            {% endblock %}
            <font size="2">{{ 'level' | trans({'%level%': itemTemplate.level}) }}</font>
            <span class="pull-right">{{ itemTemplate.type.getName(locales()) }}</span>
        </h3>
    </div>
    <div class="panel-body">
        {% endif %}
        <div class="row">
            {# Left column #}
            <div class="col-sm-3">
                <a href="{{ path('dof_items_show', {'slug': itemTemplate.slug}) }}" class="thumbnail">
                    <img class="img-responsive" src="{{ (itemTemplate.webPath) ? asset(itemTemplate.webPath) : asset('bundles/dofitems/img/default.png') }}" alt="{{ itemTemplate.getName(locales()) }}">
                </a>
                <div class="text-center">
                    <p>
                        {% if itemTemplate.preliminary %}
                            <span class="label label-danger">Bêta</span>
                        {% endif %}
                        {% if itemTemplate.release != 1 %}
                            <span class="label label-default hidden-xs">{{ itemTemplate.release }}</span>
                        {% endif %}
                    </p>

                    {% block bonus %}
                    {% endblock %}

                    {% if is_granted('ROLE_SUPER_ADMIN') and not itemTemplate.preliminary and itemTemplate.visible %}
                    <p>
                        <a target="_blank" href="http://www.dofus.com/fr/mmorpg/encyclopedie/equipements/{{ itemTemplate.id }}-{{ itemTemplate.nameFr | slugify }}">
                            <img src="{{ asset('bundles/dofmain/images/dof_logo_little.png') }}" />
                        </a>
                    </p>
                    {% endif %}

                    {% block left_menu %}
                    {% endblock %}

                </div>
            </div>

            {# Right column #}
            <div class="col-sm-9">
                {% set item_content = '' %}
                {# Menu tabs #}
                <ul class="nav nav-pills" role="tablist">
                    {% set isActivedTab = false %}
                    {% set characts %}
                        {% include 'DofItemsBundle::characteristics.html.twig' with {'item': item, 'updatable': type == 'build' and can_write | default(false)} %}
                    {% endset %}

                    {% block tabs_menu %}
                        {# Effets #}
                        {% if characts | trim is not empty %}
                            {% set isActiveTab = true %}
                            <li class="active"><a href="#caracts-item{{ item.id }}" role="tab" data-toggle="tab">Effets</a></li>
                        {% endif %}

                        {# Recette #}
                        {% if itemTemplate.components is not empty %}
                            <li><a {% if not isActivedTab %}class="active" {% endif %}href="#recipe-item{{ item.id }}" role="tab" data-toggle="tab">Recette</a></li>
                        {% endif %}
                    {% endblock %}

                </ul>
                <div class="tab-content">
                    {% block tabs_content %}
                        {# Effets #}
                        {% if characts | trim is not empty %}
                        <div class="tab-pane active" id="caracts-item{{ item.id }}">
                            {{ characts }}
                        </div>
                        {% endif %}

                        {# Recette #}
                        {% if itemTemplate.components is not empty %}
                        <div class="tab-pane" id="recipe-item{{ item.id }}">
                            {% for component in itemTemplate.components %}
                            <a href="{{ path('dof_items_show', {'slug': component.component.slug}) }}">
                                {{ component.component.getName(locales()) }}
                            </a>
                            x {{ component.quantity }}
                            <br />
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endblock %}
                </div>

            {# Close right column #}
            </div>
        {% if block('tabs_content') | trim is not empty %}
        </div>
        {% endif %}
        <div>
            <hr />
            {% block footer %}
            {% endblock %}

            {% if itemTemplate.description == '#1' %}
                Arme éthérée
            {% else %}
                {{ itemTemplate.getDescription(locales()) }}
            {% endif %}
        </div>
        {% if block('tabs_content') | trim is empty %}
        </div>
        {% endif %}

        {% block more %}
        {% endblock %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <hr />
        <div class="text-center">
            <a class="btn btn-default" href="{{ path('admin_dof_items_itemtemplate_edit', {'id': itemTemplate.id}) }}">
                Editer (Admin)
            </a>
            <a class="btn btn-default" href="{{ path('dof_items_addskin', {'id': itemTemplate.id}) }}">
                Ajouter image
            </a>
        </div>
        {% endif %}

        {% if display != 'modal' %}
    </div>
</div>
{% endif %}
{% endautoescape %}
