{% extends "DofItemsBundle:Templates:equipment.html.twig" %}
{% trans_default_domain 'item' %}

{% block left_menu %}
    <div class="panel panel-default" class="col-sm-3">
        <table class="table">
            <tr>
                <td style="padding:4px;">
                    {{ 'ap' | trans({'%1%': ''},'item') }} : {{ itemTemplate.apCost }}
                    <img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt="">
                    <br>({{ 'maxCastsPerTurn' | transchoice(itemTemplate.maxCastsPerTurn, {'%count%': itemTemplate.maxCastsPerTurn}) }})
                </td>
            </tr>
            <tr>
                <td style="padding:4px;">
                    {{ 'range' | trans({'%1%': ''},'item') }}:
                    {% if itemTemplate.minCastRange != itemTemplate.maxCastRange %}
                        {{ itemTemplate.minCastRange }} {{ 'to' | trans }}
                    {% endif %}
                    {{ itemTemplate.maxCastRange }}
                    <img src="{{ asset('bundles/dofitems/img/range.png') }}" alt="">

                    <p class="text-center">
                        <img src="{{ path('dof_area_render_normal', { area: itemTemplate.castArea|base64url_encode, type: 'cast' }) }}" style="width: 45px;" alt="" />
                    </p>
                    <hr />
                    Zone : <img src="{{ path('dof_area_render_normal', { area: itemTemplate.type.effectArea|base64url_encode, type: 'effect' }) }}" style="width: 45px;" alt="" />
                </td>
            </tr>
            <tr>
                <td style="padding:4px;">
                    {{ 'criticalHits' | trans({'%1%': ''},'item') }}: 1/{{ itemTemplate.criticalHitDenominator }} (+{{ itemTemplate.criticalHitBonus }}) <img src="{{ asset('bundles/dofitems/img/criticalHits.png') }}" alt="">
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
