{% extends '::layout.html.twig' %}

{% block breadcrumb %}
	{{ parent() }}
	<li>
		<a href="{{ path('dof_items_manager_homepage') }}">
			{{ 'inventory' | trans({}, 'generalTrans') }}
		</a>
	</li>
	<li>
		{{ 'animals.pets' | transchoice(2, {}, 'type_item') }}
	</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<h3>{{ 'petsManager' | trans({}, 'petsManager') }}</h3>

	<div class="well well-sm">
		Ajouter un familier :
		<a href="{{ path('dof_items_homepage', {'items[type]': [ '12' ]}) }}" class="btn btn-primary">Nouveau</a>
		<a href="{{ path('dof_items_manager_homepage', {'items[type]': [ '12' ]}) }}" class="btn btn-default">Depuis l'inventaire</a>
	</div>

	<div class="well well-sm">
	    {{ 'notifications' | trans({}, 'generalTrans') }} :
	    <form method="POST" name="petsNotifs" action="{{ path('dof_items_manager_pets_notif') }}">
	        <strong>{{ ( app.user.petsManagerNotifications ? 'activated' : 'deactivate' ) | trans({}, 'generalTrans') }}</strong>
	        <input type="hidden"  name="notif" value="{{ not app.user.petsManagerNotifications }}">
	        <button type="submit" class="btn btn-primary">
				{{ ( app.user.petsManagerNotifications ? 'deactivate' : 'activate' ) | trans({}, 'generalTrans') }}
			</button>
	    </form>
	</div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'animals.pets' | transchoice(2, {}, 'type_item') }}</div>
        <form method="POST" name="feedPets" action="{{ path('dof_items_manager_pets_feed') }}">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'name' | trans({}, 'generalTrans') }}</th>
                        <th class="hidden-sm hidden-xs">{{ 'lastFeeding' | trans({}, 'petsManager') }}</th>
                        <th>{{ 'nextFeeding' | trans({}, 'petsManager') }}</th>
                        <th>{{ 'feed' | trans({}, 'petsManager') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
					{% set hourMax = '+' ~ pet.itemTemplate.maxFeedInterval ~ ' hour' %}
                        <tr class="{% if pet.nextFeeding > date() %}success{% elseif pet.nextFeeding < date() and pet.lastFeeding | date_modify(hourMax) > date() %}warning{% else %}danger{% endif %}">
                            <td>
                                {% if pet.name is not null %}
                                    {{ pet.name }}({{ pet.itemTemplate.getName(locales()) }})
                                {% else %}
                                    {{ pet.itemTemplate.getName(locales()) }}
                                {% endif %}
                            </td>
                            <td class="hidden-sm hidden-xs">
                                {{ pet.lastFeeding | date_format }}
                            </td>
                            <td>
                                {{ pet.nextFeeding | date_format }}
                            </td>
                            <td>
                                <input type="checkbox"  name="pets[]" value="{{ pet.id }}" value="">
                            </td>
                            <td>
                                <a href="{{ path('dof_items_manager_pets_remove', {'id': pet.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    {% else %}
						<tr>
                            <td></td>
							<td>{{ 'no_pets' | trans({}, 'petsManager') }}</td>
							<td></td>
							<td></td>
							<td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">{{ 'feed' | trans({}, 'petsManager') }}</button>
        </form>
    </div>
{% endautoescape %}
{% endblock %}
