<ul class="pagination">
    {% set params = pagination.route_params | default({}) | merge({'page': 1}) %}
    {% set queryString = '?' ~ app.request.queryString %}

    {# Retour au début/précédent #}
    {% if pagination.page > 1 %}
    <li><a href="{{ path(pagination.route, params)) ~ queryString }}">&laquo;&laquo;</a></li>
    <li><a href="{{ path(pagination.route, params | merge({'page': pagination.page-1})) ~ queryString }}">&laquo;</a></li>
    {% endif %}

    {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
    {% for p in range(max(pagination.page - 4, 1),
        min(pagination.page + 4, pagination.pages_count)) %}
    <li{% if p == pagination.page %} class="active"{% endif %}><a href="{{ path(pagination.route, params | merge({'page': p})) ~ queryString }}">{{ p }}</a></li>
    {% endfor %}

    {# Suivant / Saut vers la fin #}
    {% if pagination.page < pagination.pages_count %}
    <li><a href="{{ path(pagination.route, params | merge({'page': pagination.page+1})) ~ queryString }}">&raquo;</a></li>
    <li><a href="{{ path(pagination.route, params | merge({'page': pagination.pages_count})) ~ queryString }}">&raquo;&raquo;</a></li>
    {% endif %}
</ul>
