{% trans_default_domain 'item' %}

{% if updatable | default(false) == false %}
    {% for name, value in item.characteristics %}
        {% if value | is_array %}
            {% set min = value.min %}
            {% set max = value.max %}
        {% else %}
            {% set min = value %}
            {% set max = value %}
        {% endif %}

        {% if min != 0 or max != 0 %}
            {% set range %}
                {% if min != max %}
                    {{ min}} {{ 'to' | trans }}
                {% endif %}
                {{ max }}
            {% endset %}
            {{ name | trans({'%1%': range}) }}<br>
        {% endif %}
    {% endfor %}
{% else %}
    <form method="POST" action="#">
        {% for name, value in item.characteristics %}
            {% if value != 0 %}
                {% set range %}
                    <input name="caracts[{{ name }}]" type="number" value="{{ value }}">
                {% endset %}
                {{ name | trans({'%1%': range}) | raw }}<br />
            {% endif %}
        {% endfor %}
        <input type="hidden" name="slot" value="{{ item.slot }}">
        <br />
        <button class="btn btn-primary" type="submit">Mettre à jour</button>
    </form>
{% endif %}
