{% trans_default_domain 'item' %}

{% if item.personalized is defined and item.personalized %}
    {% set type = 'build' %}
    {% set itemEntity = item.itemTemplate %}
{% else %}
    {% set type = 'normal' %}
    {% set itemEntity = item %}
{% endif %}

{# Effets des équipements #}
{% if itemEntity.equipment is not defined or itemEntity.equipment %}
    {% if not updatable | default(false) %}
        {# Affichage des dégats de l'arme #}
        {% if itemEntity.weapon is defined and itemEntity.weapon %}
            {% for damageRow in itemEntity.damageRows %}
                {% set min = damageRow.min %}
                {% set max = damageRow.max %}

                {% if min != 0 or max != 0 %}
                    {% set range %}
                        {% if min != max %}
                            {{ min is empty ? 0 : min }} {{ 'to' | trans }}
                        {% endif %}
                        {{ max is empty ? 0 : max }}
                    {% endset %}
                    {{ call('Dof\\ItemsBundle\\Element', 'getName', damageRow.element) | trans({'%1%': range}) }}<br />
                {% endif %}
            {% endfor %}
            <hr />
        {% endif %}

        {% for name, value in item.characteristics %}
            {% if value | is_array %}
                {% set min = value.min %}
                {% set max = value.max %}
            {% else %}
                {% set min = value %}
                {% set max = value %}
            {% endif %}

            {% if min != 0 or max != 0 %}
                {% set range %}
                    {% if min != max %}
                        {{ min is empty ? 0 : min }} {{ 'to' | trans }}
                    {% endif %}
                    {{ max is empty ? 0 : max }}
                {% endset %}
                {{ name | trans({'%1%': range}) }}<br />
            {% endif %}
        {% endfor %}
    {% else %}
        <form method="POST">
            {% set caractsnull = {} %}
            {% for name, value in item.characteristics %}
                <span data-name="{{ name }}" {% if value == 0 %} style="display: none;"{% endif %}>
                    {% set range %}
                        <input name="caracts[{{ name }}]" type="number" value="{{ value }}">
                    {% endset %}
                    {{ name | trans({'%1%': range}) | raw }}<br />

                {% if value == 0 %}
                    {% set caractsnull = caractsnull + {(name): name | trans({'%1%': ''})}%}
                {% endif %}
                </span>
            {% endfor %}
            <input type="hidden" name="id" value="{{ item.id }}">
    {% endif %}
{% endif %}

{# Tous les items #}
{% include 'DofCharactersBundle::effects.html.twig' with {'effects': itemEntity.effects} %}

{% if type == 'build' and updatable | default(false) %}
    <br />
    <button class="btn btn-primary" type="submit">Mettre à jour</button>
    </form>
    <br />
    Nouvel effet :
    <select class="build-fm">
        {% for caract, name in caractsnull %}
        <option value="{{ caract }}">{{ name }}</option>
        {% endfor %}
    </select><br>
    <button class="add-build-fm">Ajouter</button>
{% endif %}
