{% trans_default_domain 'item' %}

{% if display is not defined %}
    {% set display = 'normal' %}
{% endif %}

{% if not item.personalized %}
    {% set type = 'item' %}
{% else %}
    {% set type = 'build' %}
    {% set item_primary_bonus = item %}
    {% set item_caracts = item %}
    {% set item = item.itemTemplate %}
{% endif %}


{% autoescape  %}
    {% if display != 'modal' %}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ item.getName(locales())}} <font size="2">{{ 'level' | trans({'%level%': item.level})}}</font>
                <span class="pull-right">{{ item.type.getName(locales()) }}</span>
            </h3>
        </div>
        <div class="panel-body">
    {% endif %}
            <div class="row">
                {# Left column #}
                <div class="col-sm-3">
                    <a href="{{ path('dof_items_show', {'slug': item.slug}) }}" class="thumbnail">
                        <img class="img-responsive" src="{{ (item.webPath) ? asset(item.webPath) : asset('bundles/dofitems/img/default.png') }}" alt="{{ item.getName(locales()) }}">
                    </a>
                    <div class="text-center">
                        <p>
                            {% if item.preliminary %}
                                <span class="label label-danger">Bêta</span>
                            {% endif %}
                            {% if item.release != 1 %}
                                <span class="label label-default hidden-xs">{{ item.release }}</span>
                            {% endif %}
                        </p>
                        {% if not item.personalized and item.equipment %} 
                            <p>
                            {% for bonus in (item_primary_bonus | default(item) ).primaryBonus %}
                                <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
                            {% endfor %}
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') and not item.preliminary and item.visible %}
                        {% set url = 'http://dofus.com' %}
                        <p>
                            <a target="_blank" href="http://www.dofus.com/fr/mmorpg/encyclopedie/equipements/{{ item.id }}-{{ item.nameFr | slugify }}">
                                <img src="{{ asset('bundles/dofmain/images/dof_logo_little.png') }}" />
                            </a>
                        </p>
                        {% endif %}
                    </div>
                        {% if item.weapon %}
                            <div class="panel panel-default" class="col-sm-3">
                                <table class="table">
                                    <tr><td style="padding:4px;">{{ 'ap' | trans({'%1%': ''},'item') }}: {{ item.apCost }} <img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt=""> <br>({{ item.maxCastsPerTurn }} {{ 'maxCastsPerTurn' | trans }})</td></tr>
                                    <tr><td style="padding:4px;">{{ 'range' | trans({'%1%': ''},'item') }}:
                                            {% if item.minCastRange != 0 or item.maxCastRange != 0 %}
                                                {% if item.minCastRange != item.maxCastRange %}
                                                    {{ item.minCastRange }} {{ 'to' | trans }}
                                                {% endif %}
                                                {{ item.maxCastRange }}
                                            {% else %}
                                                0
                                            {% endif %}
                                            <img src="{{ asset('bundles/dofitems/img/range.png') }}" alt="">

                                            {% if item.weapon %}
                                            <p class="text-center">
                                                <img src="{{ path('dof_area_render_normal', { area: item.castArea|base64url_encode, type: 'cast' }) }}" style="width: 45px;" alt="" />
                                            </p>
                                            <hr />
                                            Zone : <img src="{{ path('dof_area_render_normal', { area: item.type.effectArea|base64url_encode, type: 'effect' }) }}" style="width: 45px;" alt="" />
                                            {% endif %}
                                    </td></tr>
                                    <tr><td style="padding:4px;">{{ 'criticalHits' | trans({'%1%': ''},'item') }}: 1/{{ item.criticalHitDenominator }} (+{{ item.criticalHitBonus }}) <img src="{{ asset('bundles/dofitems/img/criticalHits.png') }}" alt=""></td></tr>
                                </table>
                            </div>
                        {% endif %}
                </div>

                {# Right column #}
                <div class="col-sm-9">
                    {% set item_content = '' %}
                    {# Menu tabs #}
                    <ul class="nav nav-pills" role="tablist">
                        {# Charactéristiques #}
                        <li class="active"><a href="#caracts-item{{ item.id }}" role="tab" data-toggle="tab">Effets</a></li>
                        {% set item_content %}
                            {{ item_content }}
                            <div class="tab-pane active" id="caracts-item{{ item.id }}">
                                {% include 'DofItemsBundle::characteristics.html.twig' with {'item': item_caracts | default(item), 'updatable': type == 'build' and can_write | default(false)} %}
                            </div>
                        {% endset %}

                        {#% if item.criteria is not empty %}
                            <li><a href="#conditions-item{{ item.id }}" role="tab" data-toggle="tab">Conditions</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="conditions-item{{ item.id }}">
                                    {{ item.criteria }}
                                </div>
                            {% endset %}
                        {% endif %#}

                        {# Nourriture familier #}
                        {% if item.isPet() and (item.foodTypes is not empty or item.foodItems is not empty) %}
                            <li><a href="#food-item{{ item.id }}" role="tab" data-toggle="tab">Nourriture</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="food-item{{ item.id }}">
                                    {% for food_type in item.foodTypes %}
                                        {{ food_type.getName(locales()) }}
                                        <br />
                                    {% endfor %}
                                    {% for food_item in item.foodItems %}
                                        {{ food_item.getName(locales()) }}
                                        <br />
                                    {% endfor %}
                                </div>
                            {% endset %}
                        {% endif %}

                        {# Recette #}
                        {% if item.components is not empty %}
                            <li><a href="#recipe-item{{ item.id }}" role="tab" data-toggle="tab">Recette</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="recipe-item{{ item.id }}">
                                    {% for component in item.components %}
                                        <a href="{{ path('dof_items_show', {'slug': component.component.slug}) }}">
                                            {{ component.component.getName(locales()) }}
                                        </a>
                                         x {{ component.quantity }}
                                        <br />
                                    {% endfor %}
                                </div>
                            {% endset %}
                        {% endif %}
                    </ul>

                    {# Tab panes #}
                    <div class="tab-content">
                        {{ item_content }}
                    </div>

                {# Close right column #}
                </div>
            </div>
            <hr />
            {% if item.isEquipment() and item.set is not null %}
                <strong>
                    <a href="{{ path('dof_set_show', {'slug': item.set.slug}) }}">
                        {{ item.set.getName(locales()) }}
                    </a>
                </strong>
                <br />
            {% endif %}
            {% if item.getDescription() == '#1' %}
                Arme éthérée
            {% else %}
                {{ item.getDescription(locales()) }}
            {% endif %}

            {% if slugs is defined and slugs is not empty %}
                <hr />
                <form class="form-horizontal" method="POST" action="{{ path('dof_build_additem_post') }}">
                    <input name="stuff" type="hidden" value="{{ slugs.stuff }}">
                    <input name="items[{{ build_slot | default('') }}]" type="hidden" value="{{ item.id }}">

                    <div class="col-lg-offset-3 col-lg-6">
                        <div class="form-group">
                            <label for="percent{{ item.id }}" class="col-sm-2 control-label">Qualité</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" id="percent{{ item.id }}" type="number" name="percent" value="80" step="1" min="0" max="140">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Equiper</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <hr />
                <div class="text-center">
                    <a class="btn btn-default" href="{{ path('admin_dof_items_itemtemplate_edit', {'id': item.id}) }}">
                        Editer (Admin)
                    </a>
                    <a class="btn btn-default" href="{{ path('dof_items_addskin', {'id': item.id}) }}">
                        Ajouter image
                    </a>
                </div>
            {% endif %}

    {% if display != 'modal' %}
        </div>
    </div>
    {% endif %}
{% endautoescape %}
