{% trans_default_domain 'item' %}

{% if display is not defined %}
    {% set display = 'normal' %}
{% endif %}

{% if type | default('item') == 'item' %}
    {% set primary_bonus = item.primaryBonus %}
    {#% set item = item %#}
{% elseif type == 'build' %}
    {% set primary_bonus = item.primaryBonus %}
    {% set item_caracts = item %}
    {% set item = item.itemTemplate %}
{% endif %}


{% autoescape  %}
    {% if display != 'modal' %}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <h3 class="panel-title">{{ item.getName(locales())}} <font size="2">{{ 'level' | trans({'%level%': item.level})}}</font></h3>
        </div>
        <div class="panel-body">
    {% endif %}
            <div class="row">
                {# Left column #}
                <div class="col-sm-3">
                    <a href="{{ path('dof_items_show', {'slug': item.slug}) }}" class="thumbnail">
                        <img class="img-responsive" src="{{ asset('bundles/dofitems/img/default.png') }}" alt="{{ item.getName(locales()) }}">
                    </a>
                    <div class="text-center">
                        <p>
                            {% if item.preliminary %}
                                <span class="label label-danger">Béta</span>
                            {% endif %}
                            {% if item.release != 1 %}
                                <span class="label label-default hidden-xs">{{ item.release }}</span>
                            {% endif %}
                        </p>
                        {% if item.isEquipment() %}
                            <p>
                            {% for bonus in primary_bonus %}
                                <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
                            {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>

                {# Right column #}
                <div class="col-sm-9">
                    {% set item_content = '' %}
                    {# Menu tabs #}
                    <ul class="nav nav-tabs" role="tablist">
                        {% if item.isEquipment() %}
                            {# Charactéristiques #}
                            <li class="active"><a href="#caracts-item{{ item.id }}" role="tab" data-toggle="tab">Caracts</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane active" id="caracts-item{{ item.id }}">
                                    {% include 'DofItemsBundle::characteristics.html.twig' with {'item': item_caracts | default(item)} %}
                                </div>
                            {% endset %}

                            {% if item.criteria is not empty %}
                                {# Conditions #}
                                <li><a href="#conditions-item{{ item.id }}" role="tab" data-toggle="tab">Conditions</a></li>
                                {% set item_content %}
                                    {{ item_content }}
                                    <div class="tab-pane" id="conditions-item{{ item.id }}">
                                        {{ item.criteria }}
                                    </div>
                                {% endset %}
                            {% endif %}
                        {% endif %}

                        {# Nourriture familier #}
                        {% if item.isPet() and (item.foodTypes is not empty or item.foodItems is not empty) %}
                            <li><a href="#food-item{{ item.id }}" role="tab" data-toggle="tab">Nourriture</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="food-item{{ item.id }}">
                                    {% for food_type in item.foodTypes %}
                                        {{ food_type.getName(locales()) }}
                                        <br />
                                    {% endfor %}
                                    {% for food_item in item.foodItems %}
                                        {{ food_item.getName(locales()) }}
                                        <br />
                                    {% endfor %}
                                </div>
                            {% endset %}
                        {% endif %}

                        {# Recette #}
                        {% if item.components is not empty %}
                            <li{% if item.isEquipment() == false %} class="active"{% endif %}><a href="#recipe-item{{ item.id }}" role="tab" data-toggle="tab">Recette</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="recipe-item{{ item.id }}">
                                    {% for component in item.components %}
                                        <a href="{{ path('dof_items_show', {'slug': component.component.slug}) }}">
                                            {{ component.component.getName(locales()) }}
                                        </a>
                                         x {{ component.quantity }}
                                        <br />
                                    {% endfor %}
                                </div>
                            {% endset %}
                        {% endif %}
                    </ul>

                    {# Tab panes #}
                    <div class="tab-content">
                        {{ item_content }}
                    </div>

                {# Close right column #}
                </div>
            </div>
            <hr />
            {% if item.isEquipment() and item.set is not null %}
                <strong>
                    <a href="{{ path('dof_set_show', {'slug': item.set.slug}) }}">
                        {{ item.set.getName(locales()) }}
                    </a>
                </strong>
                <br />
            {% endif %}
            {{ item.getDescription(locales())}}

            {% if slugs is defined and slugs is not empty %}
                <hr />
                <form method="POST" action="{{ path('dof_build_additem_post', {'user': slugs.user, 'character': slugs.character, 'stuff': slugs.stuff}) }}">
                    <input name="items[]" type="hidden" value="{{ item.id }}">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Equiper</button>
                    </div>
                </form>
            {% endif %}

    {% if display != 'modal' %}
        </div>
    </div>
    {% endif %}
{% endautoescape %}
