{% trans_default_domain 'item' %}

{% if display is not defined %}
    {% set display = 'normal' %}
{% endif %}

{% if not item.personalized %}
    {% set type = 'item' %}
    {% set itemTemplate = item %}
{% else %}
    {% set type = 'build' %}
    {% set itemTemplate = item.itemTemplate %}
{% endif %}


{% autoescape  %}
    {% if display != 'modal' %}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if item.personalized and item.name is not null %}
                     {{ item.name }} ({{ itemTemplate.getName(locales())}}) <font size="2">{{ 'level' | trans({'%level%': itemTemplate.level})}}</font>
                {% else %}
                    {{ itemTemplate.getName(locales())}} <font size="2">{{ 'level' | trans({'%level%': itemTemplate.level})}}</font>
                {% endif %}
                <span class="pull-right">{{ itemTemplate.type.getName(locales()) }}</span>
            </h3>
        </div>
        <div class="panel-body">
    {% endif %}
            <div class="row">
                {# Left column #}
                <div class="col-sm-3">
                    <a href="{{ path('dof_items_show', {'slug': itemTemplate.slug}) }}" class="thumbnail">
                        <img class="img-responsive" src="{{ (itemTemplate.webPath) ? asset(itemTemplate.webPath) : asset('bundles/dofitems/img/default.png') }}" alt="{{ itemTemplate.getName(locales()) }}">
                    </a>
                    <div class="text-center">
                        <p>
                            {% if itemTemplate.preliminary %}
                                <span class="label label-danger">Bêta</span>
                            {% endif %}
                            {% if itemTemplate.release != 1 %}
                                <span class="label label-default hidden-xs">{{ itemTemplate.release }}</span>
                            {% endif %}
                        </p>
                        {% if itemTemplate.equipment and not item.personalized %}
                            <p>
                            {% for bonus in item.primaryBonus %}
                                <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
                            {% endfor %}
                            </p>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') and not itemTemplate.preliminary and itemTemplate.visible %}
                        <p>
                            <a target="_blank" href="http://www.dofus.com/fr/mmorpg/encyclopedie/equipements/{{ itemTemplate.id }}-{{ itemTemplate.nameFr | slugify }}">
                                <img src="{{ asset('bundles/dofmain/images/dof_logo_little.png') }}" />
                            </a>
                        </p>
                        {% endif %}

                        {# PetsManagerButton #}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') and not item.personalized and itemTemplate.minFeedInterval is not null %}
                        <p>
                            <a href="{{ path('dof_items_manager_pets_add', {id: itemTemplate.id}) }}"><button type="button" class="btn btn-default">Elever</button></a>
                        </p>
                        {% elseif is_granted('IS_AUTHENTICATED_FULLY') and  item.personalized and itemTemplate.minFeedInterval is not null %}
                        <p>
                            <div class="btn-group">
                              <button type="button" class="btn btn-danger">Elever</button>
                              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <form method="POST" name="feedPets" action="{{ path('dof_items_manager_pets_feed') }}">
                                    <input type="hidden"  name="pets[]" value="{{ item.id }}" >
                                    <li><button type="submit" class="btn btn-primary">Nourrir</button></li>
                                </form> 
                              </ul>
                            </div>
                        </p>
                        {% endif %}

                        {# EndPetsManagerButton #}
                    </div>
                        {% if itemTemplate.weapon %}
                            <div class="panel panel-default" class="col-sm-3">
                                <table class="table">
                                    <tr><td style="padding:4px;">{{ 'ap' | trans({'%1%': ''},'item') }}: {{ itemTemplate.apCost }} <img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt=""> <br>({{ itemTemplate.maxCastsPerTurn }} {{ 'maxCastsPerTurn' | trans }})</td></tr>
                                    <tr><td style="padding:4px;">{{ 'range' | trans({'%1%': ''},'item') }}:
                                            {% if itemTemplate.minCastRange != 0 or itemTemplate.maxCastRange != 0 %}
                                                {% if itemTemplate.minCastRange != itemTemplate.maxCastRange %}
                                                    {{ itemTemplate.minCastRange }} {{ 'to' | trans }}
                                                {% endif %}
                                                {{ itemTemplate.maxCastRange }}
                                            {% else %}
                                                0
                                            {% endif %}
                                            <img src="{{ asset('bundles/dofitems/img/range.png') }}" alt="">

                                            {% if itemTemplate.weapon %}
                                            <p class="text-center">
                                                <img src="{{ path('dof_area_render_normal', { area: itemTemplate.castArea|base64url_encode, type: 'cast' }) }}" style="width: 45px;" alt="" />
                                            </p>
                                            <hr />
                                            Zone : <img src="{{ path('dof_area_render_normal', { area: itemTemplate.type.effectArea|base64url_encode, type: 'effect' }) }}" style="width: 45px;" alt="" />
                                            {% endif %}
                                    </td></tr>
                                    <tr><td style="padding:4px;">{{ 'criticalHits' | trans({'%1%': ''},'item') }}: 1/{{ itemTemplate.criticalHitDenominator }} (+{{ itemTemplate.criticalHitBonus }}) <img src="{{ asset('bundles/dofitems/img/criticalHits.png') }}" alt=""></td></tr>
                                </table>
                            </div>
                        {% endif %}
                </div>

                {# Right column #}
                <div class="col-sm-9">
                    {% set item_content = '' %}
                    {# Menu tabs #}
                    <ul class="nav nav-pills" role="tablist">
                        {# Charactéristiques #}
                        <li class="active"><a href="#caracts-item{{ itemTemplate.id }}" role="tab" data-toggle="tab">Effets</a></li>
                        {% set item_content %}
                            {{ item_content }}
                            <div class="tab-pane active" id="caracts-item{{ itemTemplate.id }}">
                                {% include 'DofItemsBundle::characteristics.html.twig' with {'item': item, 'updatable': type == 'build' and can_write | default(false)} %}
                            </div>
                        {% endset %}

                        {#% if itemTemplate.criteria is not empty %}
                            <li><a href="#conditions-item{{ itemTemplate.id }}" role="tab" data-toggle="tab">Conditions</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="conditions-item{{ itemTemplate.id }}">
                                    {{ itemTemplate.criteria }}
                                </div>
                            {% endset %}
                        {% endif %#}

                        {# Nourriture familier #}
                        {% if itemTemplate.pet and (itemTemplate.foodTypes is not empty or itemTemplate.foodItems is not empty) %}
                            <li><a href="#food-item{{ itemTemplate.id }}" role="tab" data-toggle="tab">Nourriture</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="food-item{{ itemTemplate.id }}">
                                    {% for food_type in itemTemplate.foodTypes %}
                                        {{ food_type.getName(locales()) }}
                                        <br />
                                    {% endfor %}
                                    {% for food_item in itemTemplate.foodItems %}
                                        {{ food_item.getName(locales()) }}
                                        <br />
                                    {% endfor %}
                                </div>
                            {% endset %}
                        {% endif %}

                        {# Recette #}
                        {% if itemTemplate.components is not empty %}
                            <li><a href="#recipe-item{{ itemTemplate.id }}" role="tab" data-toggle="tab">Recette</a></li>
                            {% set item_content %}
                                {{ item_content }}
                                <div class="tab-pane" id="recipe-item{{ itemTemplate.id }}">
                                    {% for component in itemTemplate.components %}
                                        <a href="{{ path('dof_items_show', {'slug': component.component.slug}) }}">
                                            {{ component.component.getName(locales()) }}
                                        </a>
                                         x {{ component.quantity }}
                                        <br />
                                    {% endfor %}
                                </div>
                            {% endset %}
                        {% endif %}
                    </ul>

                    {# Tab panes #}
                    <div class="tab-content">
                        {{ item_content }}
                    </div>

                {# Close right column #}
                </div>
            </div>
            <hr />
            {% if itemTemplate.equipment and itemTemplate.set is not null %}
                <strong>
                    <a href="{{ path('dof_set_show', {'slug': itemTemplate.set.slug}) }}">
                        {{ itemTemplate.set.getName(locales()) }}
                    </a>
                </strong>
                <br />
            {% endif %}
            {% if itemTemplate.description == '#1' %}
                Arme éthérée
            {% else %}
                {{ itemTemplate.getDescription(locales()) }}
            {% endif %}

            {% if slugs is defined and slugs is not empty %}
                <hr />
                <form class="form-horizontal" method="POST" action="{{ path('dof_build_additem_post') }}">
                    <input name="stuff" type="hidden" value="{{ slugs.stuff }}">
                    <input name="useSlot" value="1" type="hidden" />
                    <input name="items[{{ slot_number | default(0) }}]" type="hidden" value="{{ itemTemplate.id }}">

                    <div class="col-lg-offset-3 col-lg-6">
                        <div class="form-group">
                            <label for="percent{{ itemTemplate.id }}" class="col-sm-2 control-label">Qualité</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" id="percent{{ itemTemplate.id }}" type="number" name="percent" value="85" step="5" min="0" max="100">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Equiper</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <hr />
                <div class="text-center">
                    <a class="btn btn-default" href="{{ path('admin_dof_items_itemtemplate_edit', {'id': itemTemplate.id}) }}">
                        Editer (Admin)
                    </a>
                    <a class="btn btn-default" href="{{ path('dof_items_addskin', {'id': itemTemplate.id}) }}">
                        Ajouter image
                    </a>
                </div>
            {% endif %}

    {% if display != 'modal' %}
        </div>
    </div>
    {% endif %}
{% endautoescape %}
