{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{{ article.getName(locales()) }}</li>
{% endblock %}

{% block body %}
<article>
  <div class="page-header">
    <h1>{{ article.getName(locales()) }} <small>{{ article.creator.username }}</small></h1>
  </div>
  <div class="well well-lg">
    {{ article.getDescription(locales()) | raw }}
  </div>
</article>
{% endblock %}
