{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{{ article.getName(locales()) }}</li>
{% endblock %}

{% block body %}
<article itemscope itemtype="http://schema.org/Article">
  <div class="page-header">
    <h1>
      <span itemprop="name">{{ article.getName(locales()) }}</span>
      <small>
        <time itemprop="dateCreated" datetime="{{ article.createdAt | date("Y-m-d") }}">{{ article.createdAt | date("d/m/Y") }}</time>
      </small>
    </h1>
    By <a href="{{ path('dof_profile_userpage', {'name_user' : article.creator.username}) }}">{{ article.creator.username }}</a>
  </div>
  <div class="well well-lg" itemprop="articleBody">
    {{ article.getDescription(locales()) | raw }}
  </div>
</article>
{% endblock %}
