{% extends '::layout.html.twig' %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('dof_items_manager_homepage') }}">{{ 'inventory'|trans({}, 'generalTrans') }}</a></li><li>{{ 'animals.pets' | transchoice(2,{}, 'type_item') }}</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<h3>{{ 'petsManager' | trans({}, 'petsManager') }}</h3>
    {{ 'notifications' | trans({}, 'generalTrans') }} :

    <form method="POST" name="petsNotifs" action="{{ path('dof_items_manager_pets_notif') }}">
        {% if app.user.petsManagerNotifications %}
            <strong>{{ 'activated' | trans({}, 'generalTrans') }}</strong>
            <input type="hidden"  name="notif" value="0">
            <button type="submit" class="btn btn-primary">{{ 'deactivate' | trans({}, 'generalTrans') }}</button>
        {% else %}
            <strong>{{ 'deactivate' | trans({}, 'generalTrans') }}</strong>
            <input type="hidden"  name="notif" value="1">
            <button type="submit" class="btn btn-primary">{{ 'activate' | trans({}, 'generalTrans') }}</button>
        {% endif %}
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'animals.pets' | transchoice(2,{}, 'type_item') }}</div>
        <form method="POST" name="feedPets" action="{{ path('dof_items_manager_pets_feed') }}">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'name' | trans({}, 'generalTrans') }}</th>
                        <th>{{ 'lastMeal' | trans({}, 'petsManager') }}</th>
                        <th>{{ 'nextMeal' | trans({}, 'petsManager') }}</th>
                        <th>{{ 'feed' | trans({}, 'petsManager') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                        {% set hourMax = '+' ~ pet.itemTemplate.maxFeedInterval ~ ' hour' %}
                        <tr class="{% if date(pet.nextMeal) > date() %}success{% elseif (date(pet.nextMeal) < date() and date(pet.lastMeal | date_modify(hourMax)) > date() ) %}warning{% else %}danger{% endif %}">
                            <td>

                                {% if pet.name is not null %}
                                    {{ pet.name }}({{ pet.itemTemplate.getName(locales()) }})
                                {% else %}
                                    {{ pet.itemTemplate.getName(locales()) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if pet.lastMeal is not null %}
                                    {{ pet.lastMeal  | date_format }}
                                {% else %}
                                    {{ 'never' | trans({}, 'generalTrans') }}!
                                {% endif %}
                            </td>
                            <td>
                                {% if pet.lastMeal is not null %}

                                    {{ pet.nextMeal | date("d/m/y H:i:s") }}
                                {% else %}
                                    {{ 'never' | trans({}, 'generalTrans') }}!
                                {% endif %}
                            </td>
                            <td>
                                <input type="checkbox"  name="pets[]" value="{{ pet.id }}" value="">
                            </td>
                            <td>
                                <a href="{{ path('dof_items_manager_pets_del', {id: pet.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    {% else %}
                    	<tr>
                            <td></td> <td>{{ 'no_pets' | trans({}, 'petsManager') }}</td><td></td><td></td><td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">{{ 'feed' | trans({}, 'petsManager') }}</button>
        </form>
    </div>
{% endautoescape %}
{% endblock %}
