{% extends '::layout.html.twig' %}

    {% block title %}
        {{ parent() }}
        {% trans from 'FOSMessageBundle' %}messenger{% endtrans %}
    {% endblock %}


    {% block breadcrumb %}
        {{ parent() }} / 
        {% trans from 'FOSMessageBundle' %}messenger{% endtrans %}
    {% endblock %}

{% block body %}
        <a class="btn btn-primary" href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
        <a class="btn btn-primary" href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
        <a class="btn btn-primary" href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>

    {% block fos_message_content %}
    {% endblock %}
{% endblock %}
