<nav id="top">
      <ul>
        <li>
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li class="cached">
          <a href="#">
            Objets
          </a>

          <ul class="dropdown">
            <li>
              <ul>
                <li>
                  <a href="#">
                    Panoplies
                  </a>
                </li>
                <li>
                  <a href="#">
                    {{ 'equipments.main' | transchoice(2, {}, 'type_item')}}
                  </a>
                </li>
                <li>
                  <a href="#">
                    {{ 'weapons.main' | transchoice(2, {}, 'type_item')}}
                  </a>
                </li>
                <li>
                  <a href="#">
                    Familiers
                  </a>
                </li>
                <li>
                  <a href="#">
                    Dofus
                  </a>
                </li>
                <li>
                  <a href="#">
                    Ressources
                  </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                  <a href="#">
                    Ajouter un item
                  </a>
                </li>
                {% endif %}
              </ul>
            </li>
          </ul>

        </li>
        <li class="cached">
          <a href="#">
            Univers
          </a>

          <ul class="dropdown">
            <li>
              <ul>
                <li>
                  <a href="#">
                    Quêtes
                  </a>
                </li>
                <li>
                  <a href="#">
                    Tutoriels
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        </li>
        <li class="cached">
          <a href="#">
            Outils
          </a>

          <ul class="dropdown">
            <li>
              <ul>
                <li>
                  <a href="#">
                    Builds
                  </a>
                </li>
                <li>
                  <a href="#">
                    Recherche de build
                  </a>
                </li>
                <li>
                  <a href="#">
                    Les guildes
                  </a>
                </li>
                <li>
                  <a href="#">
                    Calculateurs
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        </li>
        <li id="logo">
            <span></span>
        </li>
        <li class="cached">
          <a href="#">
            La communauté
          </a>

          <ul class="dropdown">
            <li>
              <ul>
                <li>
                  <a href="#">
                    Fan-art
                  </a>
                </li>
                <li>
                  <a href="#">
                    Skins
                  </a>
                </li>
                <li>
                  <a href="#">
                    Forum officiel des créations
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="cached">
          <a href="#">
            Fan-site
          </a>

          <ul class="dropdown">
            <li>
              <ul>
                <li>
                  <a href="#">
                    Les news
                  </a>
                </li>
                <li>
                  <a href="#">
                    Twitter
                  </a>
                </li>
                <li>
                  <a href="#">
                    Facebook
                  </a>
                </li>
                <li>
                  <a href="#">
                    [...] Partenaires
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        </li>

        <li class="cached">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a href="#">
            {{ app.user.getUsername() }}
          </a>

          <ul class="dropdown">
            <li>
              <ul>
                <li>
                  <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                  </a>
                </li>
                <li>
                  <a href="{{ path('dof_profile_userpage', {'name_user': app.user.getUsername()}) }}">
                    {{ 'mine'|trans({}, 'profile') }}
                  </a>
                </li>
                <li>
                  <a href="#">
                    Messagerie
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          {% else %}
          <a href="#">
            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
          </a>

          <ul class="dropdown padding">
            <li>
              <ul>
                {{ render(controller('DofUserBundle:Security:modulelogin', { 'module': 'module' })) }}
              </ul>
            </li>
          </ul>
        {% endif %}
        </li>
      </ul>
      </nav>
        <script type="text/javascript">
//Mobile
nav = document.querySelector('nav#top');

var unlockmenu = document.querySelector('nav#top > ul > li:first-child');

unlockmenu.onclick = function(e) {
  var listli = document.querySelectorAll('nav#top > ul > li');

  for (var i = 0; i < listli.length; i++) {
    var li = listli[i];
    if (li.className == '')
      li.className = 'cached';
    else
      li.className = '';
  }
}

//Desktop & Mobile
document.onmouseup = function(e) {
  target = e.target || e.srcElement;
  var a = target;
  els = [];
  while (a) {
    els.unshift(a);
    a = a.parentNode;
  }

  dropdown = document.querySelectorAll('.dropdown');

  for (var i = 0; i < dropdown.length; i++) {
    var d = dropdown[i];
    for (var i2 = 0; i2 < els.length; i2++) {
      var e = els[i2];
      if (e == d) {
        find = 1;
      }
    }
    if (find != 1) {
      d.style.display = 'none';
    }
    find = '';
  }

}

var matches = document.querySelectorAll("nav#top > ul > li:not(#logo) > a");

for (var i = 0; i < matches.length; i++) {
  var r = matches[i];

  r.onclick = function(e) {

    var target = e.target || e.srcElement;
    var dropdown = target.parentNode.querySelectorAll('.dropdown');

    for (var i = 0; i < dropdown.length; i++) {
      var d = dropdown[i];

      if (d.style.display == 'none' || d.style.display == '')
        d.style.display = 'block';
      else
        d.style.display = 'none';
    }
    return false;
  }
}
        </script>