{% extends '::layout.html.twig' %}

{% block breadcrumb %}
	{{ parent() }}
	<li>{{ 'inventory'|trans({}, 'generalTrans') }}</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<h3>Inventaire</h3>
    {{ form(form, { 'style': 'horizontal', 'action': path(app.request.get('_route'), app.request.attributes.get('_route_params') | merge({'page': 1})) }) }}
    Il y a {{ count }} résultats.

    {% include 'DofMainBundle:Default:pagination.html.twig' with {'pagination': pagination} %}

    {% for item in items %}
        {% include 'DofItemsBundle::item.html.twig' with {'item': item, 'slugs': slugs | default(null)} %}
    {% else %}
    	Pas encore d'items dans l'inventaire!
    {% endfor %}

    {% include 'DofMainBundle:Default:pagination.html.twig' with {'pagination': pagination} %}

    <div class="modal fade new-name-modal" tabindex="-1" role="dialog" aria-labelledby="newNameModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="newNameModal">Changer le nom:</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('dof_items_manager_homepage') }}" method="POST">
                    Nom : <input type="text" class="changeName" name="changeName" /><br>
                    <input class="changeId" type="hidden" name="idChange" value="">
                    <input type="submit" class="btn" value="Changer"/>
                </form>
            </div> 
        </div>
    </div>
</div>

{% endautoescape %}
{% endblock %}

{% block javascripts %}
    <script>
        $('.new-name-modal').on('show.bs.modal', function (event) {
            var link = $(event.relatedTarget) 
            var id = link.data('id')
            var name = link.data('name')

            var modal = $(this)
            modal.find('.changeId').val(id)
            modal.find('.changeName').val(name)
        }
    </script>

{% endblock %}