{% extends 'DofGuildBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}<li><a href="{{ path('dof_guild_show', {'slug' : guild.slug }) }}">{{ guild.name }}</a></li><li>{{ 'register' | trans({},'guild') }}</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<div class="panel panel-default">
		<div class="panel-heading"><h3>{{ 'register_in' | trans({},'guild') }} {{ guild.name }}</h3></div>
			<div class="panel-body">
				{% if registered %}
					<h2>{{ 'Ya_guild' | trans({},'guild') }} : {{ user.guild }}</h2>
					<a href="{{ path('dof_guild_show', {'slug' : guild.slug }) }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ 'back_to_details' | trans({},'guild') }}</a>
					<a style="float:right" href="{{ path('fos_user_profile_edit') }}">{{ 'edit_profile' | trans({},'guild') }}<span class="glyphicon glyphicon-chevron-right"></span></a>
				{% else %}
					<h2>{{ 'succes_reg' | trans({},'guild') }} : {{ guild.name }}</h2>
					<a href="{{ path('dof_guild_show', {'slug' : guild.slug }) }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ 'back_to_details' | trans({},'guild') }}</a>
				{% endif %}
			</div>
	</div>
{% endautoescape %}
{% endblock %}
