{% extends 'DofGuildBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{{ 'details' | trans({},'guild') }}</li>
{% endblock %}

{% block body %}
{% autoescape %}
<h2><a href="{{path('dof_guild_home')}}">{{ 'back_to_guild' | trans({},'guild') }} !</a></h2>
 	<div class="panel panel-default">
		 	<div class="panel-heading">{{ guild.name }}</div>
		  	<div class="panel-body">
				<table>
					<tr><td><b>{{ 'name_guild' | trans({},'guild') }} : </b></td><td>{{ guild.name }}</td></tr>
					<tr><td><b>Date : </b></td><td>{{ guild.createdAt | date("d/m/Y") }}</td></tr>
					<tr><td><b>{{ 'serv' | trans({},'guild') }} : </b></td><td>{{ guild.server }}</td></tr>
					<tr><td><b>{{ 'lvl_guild' | trans({},'guild') }} : </b></td><td>{{ guild.lvlguild }}</td></tr>
					<tr><td><b>{{ 'lvl_min_rec' | trans({},'guild') }} : </b></td><td>{{ guild.lvlmini }}</td></tr>
					<tr><td><b>{{ 'leader' | trans({},'guild') }} : </b></td><td>{{ guild.leader }}</td></tr>
					<tr><td><b>{{ 'recruitment' | trans({},'guild') }} : </b></td><td>{% if guild.recruitment %} {{ 'yes' | trans({},'guild') }} {% else %} {{ 'no' | trans({},'guild') }} {% endif %}</td></tr>
					<tr><td><b>{{ 'specialty' | trans({},'guild') }} : </b></td><td>{{ guild.speciality }}</td></tr>
					<tr><td><b>{{ 'description' | trans({},'guild') }} : </b></td><td>{{ guild.description }}</td></tr>
					<tr><td><b>{{ 'forum' | trans({},'guild') }} : </b></td><td><a href="{{ guild.forum }}" rel="nofollow" target="_blank">{{ guild.forum }}</a></td></tr>
				</table>
				{% if app.user is not null %}
					<p class="text-center"><a href="{{ path('dof_guild_register', {'slug' : guild.slug }) }}"><span class="glyphicon glyphicon-plus"></span> {{ 'register' | trans({},'guild') }}</a></p>
				{% endif %}
			</div>
		</div>
{% endautoescape %}
{% endblock %}
