{% autoescape %}
{% if spell.publiclyVisible or is_granted('ROLE_SPELL_XRAY') %}
<div class="panel panel-default item" id="spell-{{ spell.id }}">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ spell.getName(locales()) }} <font size="2"></font>
            <span class="pull-right">
                Niveau d'obtention :
                <span class="level">
                    {% if spell.ranks[0] is defined %}{{ spell.ranks[0].obtainmentLevel }}{% endif %}
                </span>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <a href="{{ path('dof_spell_show', {'slug': spell.slug}) }}" class="thumbnail">
                    <img class="img-responsive" src="/bundles/dofitems/img/default.png" alt="{{ spell.getName(locales()) | e('html_attr') }}">
                </a>
                <div class="text-center">
                    <p>
                        {% if spell.preliminary %}
                            <span class="label label-danger">Bêta</span>
                        {% endif %}
                        {% if spell.release != 1 %}
                            <span class="label label-default hidden-xs">{{ spell.release }}</span>
                        {% endif %}
                    </p>
                    <p>
                    </p>
                </div>
            </div>

            <div class="col-sm-10">
                <ul class="nav nav-tabs" role="tablist">
                    {% for rank in spell.ranks %}
                    <li {% if loop.first %}class="active"{% endif %}><a onclick="$('#spell-{{ spell.id }} .level').html('{{ rank.obtainmentLevel }}');" href="#rank{{ spell.id }}-{{ rank.rank }}" role="tab" data-toggle="tab">Rang {{ rank.rank }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for rank in spell.ranks %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="rank{{ spell.id }}-{{ rank.rank }}">
                        <b>Effets :</b><br>
                        {% for effect in rank.effects if not effect.critical and (not effect.hidden or is_granted('ROLE_SPELL_XRAY')) %}
                            {% if is_granted('ROLE_SPELL_XRAY') %}
                                {{ effect.getPlainTextDescription(app.request.locale, 'full') }}
                            {% else %}
                                {{ effect.getPlainTextDescription(app.request.locale) }}
                            {% endif %}
                            <br>
                        {% endfor %}
                        <br>
                        <b>Effets CC :</b><br>
                        {% for effect in rank.effects if effect.critical %}
                            {% if is_granted('ROLE_SPELL_XRAY') %}
                                {{ effect.getPlainTextDescription(app.request.locale, 'full') }}
                            {% else %}
                                {{ effect.getPlainTextDescription(app.request.locale) }}
                            {% endif %}
                            <br>
                        {% endfor %}
                        <div class="row visible-lg-* hidden-xs hidden-md hidden-sm">
                            {# carcteristiques du sort #}
                            <hr />
                            <div class="col-md-6">
                                <b>Caractéristiques :</b><br>
                                <table>
                                    <tr><td>Coût en PA: </td><td>{{ rank.apCost }}</td></tr>
                                    <tr><td>Portée: </td><td>{% if rank.minCastRange == rank.maxCastRange %}{{ rank.minCastRange }}{% else %}{{ rank.minCastRange }} - {{ rank.maxCastRange }}{% endif %}
                                    {% if rank.modifiableCastRange %}<span title="Portée modifiable" class="glyphicon glyphicon-eye-close"></span>{% endif %}
                                    </td></tr>
                                </table>
                            </div>

                            {# carcteristiques secondaire du sort #}
                            <div class="col-md-6">
                                <b>Autres caractéristiques :</b><br>
                                <table>
                                    <tr><td>Coups critiques: </td><td>1/{{ rank.criticalHitDenominator }}</td></tr>
                                    <tr><td>Lancé(s) par tour par cible: </td><td>{{ rank.maxCastsPerTarget }}</td></tr>
                                    <tr><td>PO modifiable: </td><td>{% if rank.modifiableCastRange %}Oui{% else %}Non{% endif %}</td></tr>
                                    <tr><td>Lancer en ligne: </td><td>{% if rank.lineCast %}Oui{% else %}Non{% endif %}</td></tr>
                                    <tr><td>Lancers par tour: </td><td>{{ rank.maxCastsPerTurn }}</td></tr>
                                    <tr><td>Tours entre deux lancers: </td><td>{{ rank.cooldown }}</td></tr>
                                    <tr><td>Ligne de vue: </td><td>{% if rank.sightCast %}Oui{% else %}Non{% endif %}</td></tr>
                                    <tr><td>Cellules libres: </td><td>{% if rank.needsFreeCell %}Oui{% else %}Non{% endif %}</td></tr>
                                </table>
                            </div>
                        </div>

                        <div class="row hidden-lg">
                            {# carcteristiques du sort #}
                            <hr />
                            <div class="col-md-12">
                                <b>Caractéristiques :</b><br>
                                <table>
                                    <tr><td>Coût en PA: </td><td>{{ rank.apCost }}</td></tr>
                                    <tr><td>Portée: </td><td>{% if rank.minCastRange == rank.maxCastRange %}{{ rank.minCastRange }}{% else %}{{ rank.minCastRange }} - {{ rank.maxCastRange }}{% endif %}</td></tr>
                                </table>
                            </div>

                            {# carcteristiques secondaire du sort #}
                            <hr />
                            <div class="col-md-12">
                                <b>Autres caractéristiques :</b><br>
                                <table>
                                    <tr><td>Coups critiques: </td><td>1/{{ rank.criticalHitDenominator }}</td></tr>
                                    <tr><td>Lancé(s) par tour par cible: </td><td>{{ rank.maxCastsPerTarget }}</td></tr>
                                    <tr><td>PO modifiable: </td><td>{% if rank.modifiableCastRange %}Oui{% else %}Non{% endif %}</td></tr>
                                    <tr><td>Lancer en ligne: </td><td>{% if rank.lineCast %}Oui{% else %}Non{% endif %}</td></tr>
                                    <tr><td>Lancers par tour: </td><td>{{ rank.maxCastsPerTurn }}</td></tr>
                                    <tr><td>Tours entre deux lancers: </td><td>{{ rank.cooldown }}</td></tr>
                                    <tr><td>Ligne de vue: </td><td>{% if rank.sightCast %}Oui{% else %}Non{% endif %}</td></tr>
                                    <tr><td>Cellules libres: </td><td>{% if rank.needsFreeCell %}Oui{% else %}Non{% endif %}</td></tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr />
        {% if spell.breeds is not empty %}
            <b>Classes :</b>
            {% for breed in spell.breeds %}
                <a href="{{ path('dof_characters_show', {'slug': breed.slug}) }}">
                    {{ breed.getName(locales()) }}
                </a>
                {% if not loop.last %}
                |
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
        {{ spell.getDescription(locales()) }}
    </div>
</div>
{% endif %}
{% endautoescape %}
