{% autoescape  %}
{% if spell.publiclyVisible or is_granted('ROLE_SPELL_XRAY') %}
<div class="panel panel-default item">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ spell.getName(locales()) }} <font size="2"></font>
            <span class="pull-right"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <a href="{{ path('dof_spell_show', {'slug': spell.slug}) }}" class="thumbnail">
                    <img class="img-responsive" src="/bundles/dofitems/img/default.png" alt="{{ spell.getName(locales()) | e('html_attr') }}">
                </a>
                <div class="text-center">
                    <p>
                        {% if spell.preliminary %}
                            <span class="label label-danger">Bêta</span>
                        {% endif %}
                        {% if spell.release != 1 %}
                            <span class="label label-default hidden-xs">{{ spell.release }}</span>
                        {% endif %}
                    </p>
                    <p>
                    </p>
                </div>
            </div>

            <div class="col-sm-10">
                <ul class="nav nav-tabs" role="tablist">
                    {% for rank in spell.ranks %}
                    <li {% if loop.first %}class="active"{% endif %}><a href="#rank-{{ rank.rank }}" role="tab" data-toggle="tab">Rang {{ rank.rank }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for rank in spell.ranks %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="rank-{{ rank.rank }}">
                        <b>Effets :</b><br>
                        {% for effect in rank.effects if not effect.critical and (not effect.hidden or is_granted('ROLE_SPELL_XRAY')) %}
                            {% if is_granted('ROLE_SPELL_XRAY') %}
                                {{ effect.getPlainTextDescription(app.request.locale, 'full') }}
                            {% else %}
                                {{ effect.getPlainTextDescription(app.request.locale) }}
                            {% endif %}
                            <br>
                        {% endfor %}
                        <br>
                        <b>Effets CC :</b><br>
                        {% for effect in rank.effects if effect.critical %}
                            {% if is_granted('ROLE_SPELL_XRAY') %}
                                {{ effect.getPlainTextDescription(app.request.locale, 'full') }}
                            {% else %}
                                {{ effect.getPlainTextDescription(app.request.locale) }}
                            {% endif %}
                            <br>
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <hr />
        {% if spell.breeds is not empty %}
            <b>Classes :</b>
            {% for breed in spell.breeds %}
                {{ breed.getName(locales()) }}
                {% if not loop.last %}
                |
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}
        {{ spell.getDescription(locales()) }}
    </div>
</div>
{% endif %}
{% endautoescape %}
