{% autoescape %}
{% if spell.publiclyVisible or is_granted('ROLE_SPELL_XRAY') %}
<div class="panel panel-default item" id="spell-{{ spell.id }}">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ spell.getName(locales()) }} <font size="2"></font>
            <span class="pull-right">
                Niveau d'obtention :
                <span class="level">
                    {% if spell.ranks[0] is defined %}{{ spell.ranks[0].obtainmentLevel }}{% endif %}
                </span>
            </span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2 text-center">
                <a href="{{ path('dof_spell_show', {'slug': spell.slug}) }}">
                    <img src="{{ asset((spell.webPath) ? spell.webPath : '/bundles/dofitems/img/default.png') }}" alt="{{ spell.getName(locales()) | e('html_attr') }}">
                </a>
                <div class="text-center">
                    <p>
                        {% if spell.preliminary %}
                            <span class="label label-danger">Bêta</span>
                        {% endif %}
                        {% if spell.release != 1 %}
                            <span class="label label-default hidden-xs">{{ spell.release }}</span>
                        {% endif %}
                    </p>
                    <p>
                    </p>
                </div>
            </div>

            <div class="col-sm-10">
                <ul class="nav nav-pills" role="tablist">
                    {% for rank in spell.ranks %}
                    <li {% if loop.first %}class="active"{% endif %}><a onclick="$('#spell-{{ spell.id }} .level').html('{{ rank.obtainmentLevel }}');" href="#rank{{ spell.id }}-{{ rank.rank }}" role="tab" data-toggle="tab">Rang {{ rank.rank }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for rank in spell.ranks %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="rank{{ spell.id }}-{{ rank.rank }}">
                        <b>Effets :</b><br>
                        {% include 'DofCharactersBundle::effects.html.twig' with {'effects': rank.normalEffects, 'defaultStack': [ rank ]} %}
                        {% if rank.criticalEffects is not empty %}
                            <br>
                            <b>Effets CC :</b><br>
                            {% include 'DofCharactersBundle::effects.html.twig' with {'effects': rank.criticalEffects, 'defaultStack': [ rank ]} %}
                        {% endif %}
                        {% if rank.normalDamageEffects is not empty %}
                            <br>
                            {% include 'DofCharactersBundle::damages.html.twig' with {'effects': rank.normalDamageEffects} %}
                        {% endif %}
                        {% if rank.criticalDamageEffects is not empty %}
                            <br>
                            {% include 'DofCharactersBundle::damages.html.twig' with {'effects': rank.criticalDamageEffects, 'critical': true} %}
                        {% endif %}
                        <div class="row">
                            {# carcteristiques du sort #}
                            <hr />
                            <div class="col-lg-6">
                                <b>Caractéristiques :</b><br>
                                <table>
                                    <tr><td>Coût en PA : </td><td class="padLeftTab"> {{ rank.apCost }}</td></tr>
                                    <tr>
                                        <td style="vertical-align: top;">Portée : </td>
                                        <td class="padLeftTab">
                                            {% if rank.minCastRange == rank.maxCastRange %}
                                                {{ rank.minCastRange }}
                                            {% else %}
                                                {{ rank.minCastRange }} - {{ rank.maxCastRange }}
                                            {% endif %}
                                        {% if rank.modifiableCastRange %} modifiable{% endif %}
										<br />
										<img src="{{ path('dof_area_render_normal', { area: rank.castArea|base64url_encode, type: 'cast' }) }}" style="width: 90px;" alt="" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            {# carcteristiques secondaires du sort #}
                            <div class="col-lg-6">
                                <b>Autres caractéristiques :</b><br>
                                <table>
                                    <tr><td>Coups critiques : </td><td class="padLeftTab"> {% if rank.criticalHitDenominator != 0 %}1/{{ rank.criticalHitDenominator }}{% else %} Aucun{% endif %}</td></tr>
                                    {% if rank.maxCastsPerTarget != 0 %}<tr><td>Lancé(s) par tour par cible : </td><td class="padLeftTab"> {{ rank.maxCastsPerTarget }}</td></tr>{% endif %}
                                    <tr><td>PO modifiable : </td><td class="padLeftTab">{% if rank.modifiableCastRange %} Oui{% else %} Non{% endif %}</td></tr>
                                    <tr><td>Lancer en ligne : </td><td class="padLeftTab">{% if rank.lineCast %} Oui{% else %} Non{% endif %}</td></tr>
                                    {% if rank.maxCastsPerTurn != 0 %}<tr><td>Lancer(s) par tour : </td><td class="padLeftTab"> {{ rank.maxCastsPerTurn }}</td></tr>{% endif %}
                                    {% if rank.cooldown != 0 %}<tr><td>Tours entre deux lancers : </td><td class="padLeftTab"> {{ rank.cooldown }}</td></tr>{% endif %}
                                    <tr><td>Ligne de vue : </td><td class="padLeftTab">{% if rank.sightCast %} Oui{% else %} Non{% endif %}</td></tr>
                                    <tr><td>Cellules libres : </td><td class="padLeftTab">{% if rank.needsFreeCell %} Oui{% else %} Non{% endif %}</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% set footer %}
            {% if spell.breeds is not empty %}
                <b>Classes :</b>
                {% for breed in spell.breeds %}
                    <a href="{{ path('dof_characters_show', {'slug': breed.slug}) }}">
                        {{ breed.getName(locales()) }}
                    </a>
                    {% if not loop.last %}
                    |
                    {% endif %}
                {% endfor %}
                <br>
            {% endif %}
            {% if is_granted('ROLE_SPELL_XRAY') and spell.monsters is not empty %}
                <b>Monstres :</b>
                {% for monster in spell.monsters %}
                    <a href="{{ path('dof_monster_show', {'slug': monster.slug}) }}">
                        {{ monster.getName(locales()) }}
                    </a>
                    {% if not loop.last %}
                    |
                    {% endif %}
                {% endfor %}
                <br>
            {% endif %}
            {{ spell.getDescription(locales()) }}
        {% endset %}
        {% if footer | trim is not empty %}
            <hr />
            {{ footer }}
        {% endif %}
		{% if paramOf|length > 0 %}
			<hr />
			<b>Effet de / Influencé par :</b>
			{% for spell in paramOf %}
			<a href="{{ path('dof_spell_show', { slug: spell.slug }) }}">{{ spell.getName(locales()) }}</a>
			{% if not loop.last %}
			|
			{% endif %}
			{% endfor %}
		{% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <hr />
        <div class="text-center">
            <a class="btn btn-default" href="{{ path('dof_spell_addskin', {'id': spell.id}) }}">
                Ajouter image
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endautoescape %}
