{% extends 'DofTranslationBundle::layout.html.twig' %}

{% trans_default_domain "DofTranslationBundle" %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ locale | capitalize }}</li>
{% endblock %}

{% block body %}
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Traductions dans la locale {{ locale }}</div>
      <div class="panel-body">
        {#<p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          #}
      </div>


      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom Fr</th>
            {#<th>Nom {{ locale }}</th>#}
            <th class="hidden-sm">{{ 'domain' | trans() }}</th>
            {% if app.user is not null %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% set i = 1 %}
          {% for domain, messages in baseCatalogue %}
              {% for key, message in messages %}
                {% if issetTrans(key, domain, locale) == false and domain not in excludes %}
                  <tr>
                    <td>{{ i }}</td>
                    <td>{{ message }}</td>
                    {#<td>{{ key | trans({}, domain, locale) }}</td>#}
                    <td class="hidden-sm">{{ domain }}</td>
                    {% if app.user is not null %}
                    <td>
                        <a class="btn btn-sm btn-default" href="{{ path('dof_translation_create', {'tLocale': locale, 'domain': domain, 'label': key}) }}">
                            <i class="glyphicon glyphicon-globe"></i>
                            {{ 'translate' | trans() }}
                        </a>
                    </td>
                    {% endif %}
                  </tr>
                  {% set i = i + 1 %}
                {% endif %}
              {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
