{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ set.getName(locales()) }}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('admin_dof_items_itemset_edit', {'id': set.id}) }}">
                Editer
            </a>
        </div>
        <hr/>
    {% endif %}
    {% if characters is not empty %}
    <div class="well well-sm text-center">
        <form method="POST" action="{{ path('dof_user_character_additem_post') }}">
            <div class="row col-sm-6 col-sm-offset-3">
                <select class="to-select2 col-xs-12" name="stuff">
                    {% for character in characters %}
                    <optgroup label="{{ (character.name ~ '(' ~ character.breed.getName(locales()) ~ ')') | e('html_attr') }}">
                        {% for stuff in character.stuffs %}
                        <option value="{{ stuff.slug }}">{{ stuff.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
            {% for item in set.items %}
                <input name="items[]" type="hidden" value="{{ item.id }}">
            {% endfor %}

            <div class="text-center col-xs-12">
                <button type="submit" class="btn btn-primary">Equiper</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="well well-sm text-center">
        <div class="page-header nopadding marginbottom">
          <h1>{{ set.getName(locales()) }} <small>{{ 'level' | trans({'%level%': set.level}, 'item') }}</small></h1>
        </div>
        <p>
            {% if set.preliminary %}
                <span class="label label-danger">Bêta</span>
            {% endif %}
            {% if set.release != 1 %}
                <span class="label label-default hidden-xs">{{ set.release }}</span>
            {% endif %}
            <br>
            {{ set.items | length }} Item
        </p>

        {% for bonus in set.primaryBonus %}
            <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
        {% endfor %}
    </div>
	<div class="row">
	    {% for combination in set.combinations %}

			  <div class="col-xs-6 col-lg-4">
			    <div class="well well-sm">
			    	<center>
                        <strong>{{ combination.itemCount }} items</strong>
                    </center>
			    	{# Get the characteristics #}
	        		{% include 'DofItemBundle::characteristics.html.twig' with {'item': combination} %}
			    </div>
			  </div>

		{% endfor %}
	</div>

    {% for item in set.items %}
        {% include 'DofItemBundle::item.html.twig' with {'item': item} %}
    {% endfor %}

{% endblock %}
