{% extends 'DofUserCharacterBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        {{ character.name }}
    </li>
{% endblock %}

{% block body %}
{% autoescape %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>{{ character.name }}</strong> {{ character.breed.getName(locales())}},
                {{ 'level' | trans({'%level%': character.level}, 'item')}}
            </h3>
        </div>
        <div class="panel-body text-center">
            <div class="row">
                <div class="col-xs-0 col-md-4"></div>
                <div class="col-xs-6 col-md-4">
                        {% if not character.visible %}
                        <span class="glyphicon glyphicon-eye-close pull-left"></span>
                        {% endif %}
                        {% include 'DofGraphicsBundle:Component:renderer.html.twig' with {
                            'look': character.entityLook
                        } only %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if character.canWrite() %}
        <div class="well well-sm">
            <div class="page-header">
                Créer un stuff
            </div>
            <form class="form-horizontal" action="{{ path('dof_user_character_stuff_create') }}" method="POST">
                <input type="hidden" name="character" value="{{ character.id }}">
                <div class="form-group">
                    <label for="stuff-name" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <input class="form-control col-xs-12" id="stuff-name" name="name" type="text" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Créer</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        {% for stuff in character.stuffs if stuff.canSee() %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% if not stuff.visible %}
                <span class="glyphicon glyphicon-eye-close pull-right"></span>
                {% endif %}
                {% include 'DofGraphicsBundle:Component:renderer.html.twig' with {
                    'look': stuff.look.toEntityLook()
                } only %}
                <div class="caption">
                    <h3>{{ stuff.name }}</h3>
                    <p>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ path('dof_user_character_stuff', {
                                'user': character.owner.slug,
                                'character': character.slug,
                                'stuff': stuff.slug
                            }) }}">
                                Voir
                            </a>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% if stuff.canWrite() %}
                                <li>
                                    <form action="{{ path('dof_user_character_stuff_remove') }}" method="POST">
                                        <input type="hidden" name="stuff" value="{{ stuff.id }}">
                                        <button type="submit" class="btn btn-link">
                                            Supprimer
                                        </button>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endautoescape %}
{% endblock %}
