{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('dof_user_character_homepage', {'slug': character.owner.slug}) }}">
            {% if app.user == character.owner %}
                Mes personnages
            {% else %}
                Personnages de {{ character.owner.username }}
            {% endif %}
        </a>
    </li>
    <li>
        {{ character.name }}
    </li>
{% endblock %}

{% block body %}
{% autoescape %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>{{ character.name }}</strong> {{ character.breed.getName(locales())}},
                {{ 'level' | trans({'%level%': character.level}, 'item')}}
            </h3>
        </div>
        <div class="panel-body text-center">
            <div class="row">
                <div class="col-xs-0 col-md-4"></div>
                <div class="col-xs-6 col-md-4">

                        {% include 'DofGraphicsBundle:Component:renderer.html.twig' with {
                            'look': character.entityLook
                        } only %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for stuff in character.stuffs %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% include 'DofGraphicsBundle:Component:renderer.html.twig' with {
                    'look': stuff.look.toEntityLook()
                } only %}
                <div class="caption">
                    <h3>{{ stuff.name }}</h3>
                    <p>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ path('dof_user_character_stuff', {
                                'user': character.owner.slug,
                                'character': character.slug,
                                'stuff': stuff.slug
                            }) }}">
                                Voir
                            </a>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% if app.user == character.owner or is_granted('ROLE_ADMIN') %}
                                <li>
                                    <form action="{{ path('dof_user_character_stuff_remove') }}" method="POST">
                                        <input type="hidden" name="stuff" value="{{ stuff.id }}">
                                        <button type="submit" class="btn btn-link">
                                            Supprimer
                                        </button>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endautoescape %}
{% endblock %}
