{% extends '::layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'sets' | trans({}, 'item')}}</div>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'name' | trans({}, 'generalTrans')}}</th>
                    <th>{{ 'list.level' | trans({}, 'item')}}</th>
                    <th>Items</th>
                    <th class="hidden-xs">{{ 'primary_bonus' | trans({}, 'item')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for set in sets %}
                    <tr>
                        <td>
                            {% if set.preliminary %}
                                <span class="label label-danger">Béta</span>
                            {% endif %}
                            {% if set.release != 1 %}
                                <span class="label label-default hidden-xs">{{ set.release }}</span>
                            {% endif %}
                            <a href="{{ path('dof_set_show', {'slug': set.slug}) }}">
                                {{ set.getName(locales()) }}
                            </a>
                        </td>
                        <td>{{ 'level' | trans({'%level%': set.level}, 'item') }}</td>
                        <td>{{ set.itemCount }} items</td>
                        <td class="hidden-xs">
                            {% for bonus in set.primaryBonus %}
                                <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
