{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ set.getName(locales()) }}
{% endblock %}

{% block body %}
    <div class="well">
        <h3 class="text-center">
            {{ set.getName(locales()) }} ({{ items_count }} items) - lvl {{ level }}
        </h3>
        {% for element in set.elements %}
            <img src="{{ asset('bundles/dofitems/img/' ~ element ~ 'element') }}" alt="{{ element }}">  
        {% endfor %}
    </div>
	<div class="row">
	    {% for combination in combinations %}

			  <div class="col-xs-6 col-md-3">
			    <div class="thumbnail">
			    	<center><strong>{{ combination.itemCount }} items</strong></center>
			    	{# Get the characteristics #}
	        		{% include 'DofItemsBundle::characteristics.html.twig' with {'item': combination} %}
			    </div>
			  </div>

		{% endfor %}
	</div>

    {% for item in items %}
        {% include 'DofItemsBundle::item.html.twig' with {'item': item} %}
    {% endfor %}

{% endblock %}
