{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ set.getName(locales()) }}
{% endblock %}

{% block body %}
    <div class="well well-sm text-center">
        <div class="page-header nopadding marginbottom">
          <h1>{{ set.getName(locales()) }} <small>{{ 'level' | trans({'%level%': set.level}, 'item') }}</small></h1>
        </div>
        <p>{{ items_count }} Item </p>

        {% for element in set.elements %}
            <img src="{{ asset('bundles/dofitems/img/' ~ element ~ '.png') }}" alt="{{ element }}">
        {% endfor %}
    </div>
	<div class="row">
	    {% for combination in combinations %}

			  <div class="col-xs-6 col-md-3">
			    <div class="well well-sm">
			    	<center><strong>{{ combination.itemCount }} items</strong></center>
			    	{# Get the characteristics #}
	        		{% include 'DofItemsBundle::characteristics.html.twig' with {'item': combination} %}
			    </div>
			  </div>

		{% endfor %}
	</div>

    {% for item in items %}
        {% include 'DofItemsBundle::item.html.twig' with {'item': item} %}
    {% endfor %}

{% endblock %}
