{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ set.getName(locales()) }}
{% endblock %}

{% block body %}
    {{ set.getName(locales()) }} ({{ items_count }} items) - lvl {{ level }}

    {% for item in items %}
    {% endfor %}

	<div class="row">
	    {% for combination in combinations %}
	    	
			  <div class="col-xs-6 col-md-3">
			    <div class="thumbnail">
			    	<center>{{ combination.itemCount }} items</center>
			    	{# Get the characteristics #}
	        		{% include 'DofItemsBundle::characteristics.html.twig' with {'item': combination} %}  
			    </div>
			  </div>
			
		{% endfor %}
	</div>
{% endblock %}
