{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ set.getName(locales()) }}
{% endblock %}

{% block body %}
    {{ set.getName(locales()) }} ({{ items_count }} items) - lvl {{ level }}

    {% for item in items %}
    {% endfor %}

    {% for combination in combinations %}

    	<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		    <center>{{ combination.itemCount }} items</center>
		    	{# Get the characteristics #}
        		{% include 'DofItemsBundle::characteristics.html.twig' with {'item': combination} %}  
		    </a>
		  </div>
		</div>
	{% endfor %}
{% endblock %}
