{% extends '::layout.html.twig' %}

{% block title %}
    Édition de "{{ article.getName(locales()) }}" - Dofawa
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Édition de "{{ article.getName(locales()) }}"</li>
{% endblock %}

{% block body %}
    <form method="POST">
        {% if not article.questArticle and not article.dungeonArticle %}
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-10">
                <input name="article[name]" type="text" required="required" class="form-control" id="inputName" value="{{ article.getName(app.request.locale) }}">
            </div>
        </div>
        {% endif %}
        {% if article.questArticle %}
        <div class="form-group">
            <label for="inputQuest" class="col-sm-2 control-label">Quête</label>
            <div class="col-sm-10">
                <select name="article[options][quest]" id="inputQuest">
                    {% for quest in quests %}
                    <option {% if article.quest == quest %}selected="selected" {% elseif quest.article is not null %}disabled="disabled" {% endif %}value="{{ quest.id }}">{{ quest.getName(locales) }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% elseif article.dungeonArticle %}
        <div class="form-group">
            <label for="inputDungeon" class="col-sm-2 control-label">Donjon</label>
            <div class="col-sm-10">
                <select name="article[options][dungeon]" id="inputDungeon">
                    {% for dungeon in dungeons %}
                    <option {% if article.dungeon == dungeon %}selected="selected" {% endif %}value="{{ dungeon.id }}">{{ dungeon.getName(locales) }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDungeon" class="col-sm-2 control-label">Nombre de salles</label>
            <div class="col-sm-10">
                <input type="number" min="2" max="6" step="1" name="article[options][roomsCount]">
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="inputContent" class="col-sm-2 control-label">Contenu</label>
            <div class="col-sm-10">
                <textarea name="article[description]" id="inputContent" required="required">{{ article.getDescription(app.request.locale) }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Proposer</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/dofcms/sceditor/minified/themes/default.min.css') }}" type="text/css" media="all" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/dofcms/sceditor/minified/jquery.sceditor.bbcode.min.js') }}"></script>
    <script src="{{ asset('bundles/dofcms/sceditor/languages/' ~ app.request.locale ~ '.js') }}"></script>
    <script>
    $(function() {
        // Replace all textarea's
        // with SCEditor
        $("textarea").sceditor({
            plugins: "bbcode",
            style: "minified/jquery.sceditor.default.min.css",
            width: '98%',
            height: '500px',
            resizeWidth: false
        });
    });
    </script>
{% endblock %}
