{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li>Classes</li>
    <li>
        <a href="{{ path('dof_characters_show', {'slug': breed.slug}) }}">
            {{ breed.getName(locales()) }}
        </a>
    </li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      {% include 'DofGraphicsBundle:Component:renderer.html.twig' with {
                'look': look} only %}
      <div class="caption">
        <h3>{{ breed.getLongName(locales()) }}</h3>
        <h4>GamePlay</h4>
        <p>{{ breed.getGameplayDescription(locales()) }}</p>
        <h4>Description</h4>
        <p>{{ breed.getDescription(locales()) }}</p>
        <form method="POST" action="{{ path('dof_build_homepage') }}">
        	<input name="newChar" value="{{ breed.id }}" type="hidden">
        	<button class="btn btn-primary" type="submit">Créer</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for spell in breed.sortedSpells %}
    {% include 'DofCharactersBundle::spell.html.twig' %}
{% endfor %}
{% endblock %}
