<form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


    <input  type="text" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" id="username" name="_username" value="{{ last_username }}">
    <input type="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" id="password" name="_password"><br>
    <input type="number" placeholder="Code de validation" id="_totp" name="_totp"><br>
	<button type="submit" id="btnLogin" class="btn">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>

	<br><br>
	<label><input id="remember_me" name="_remember_me" value="on" type="checkbox" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
</form>
