{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
	<table>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <tr><td><label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label></td></tr>
    <tr><td><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></td></tr>

    <tr><td><label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label></td></tr>
    <tr><td><input type="password" id="password" name="_password" required="required" /></td></tr>

    <tr class="totp-field"><td><label for="totp">Code de vérification <noscript>(si activé)</noscript></label></td></tr>
    <tr class="totp-field"><td><input type="text" id="totp" name="_totp" /></td></tr>
    <br>
    <tr><td><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></td></tr>
    <br>
    <td><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /></td>
    <tr>
    	<td><a href="{{path('fos_user_registration_register')}}"><div class="submit">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</div></a></td>
    </tr>
    <br>
	</table>
</form>

<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/xnutility/js/jquery-2.1.1.min.js') }}"></script>
<script>
    function checkForTOTPField(){
        $.post(
            Routing.generate('dof_user_account_check_user_hasDoubleAuth'),
            {'_username': $('input[name="_username"]').val()},
            function(data){
                if(data == '1'){
                    $('.totp-field input').attr('required', 'required');
                    $('.totp-field').show();
                }
                else{
                    $('.totp-field input').removeAttr('required');
                    $('.totp-field').hide();
                }
            }
        );
    }

    $(function(){
        $('input[name="_username"]').on('change', checkForTOTPField);
        checkForTOTPField();
    });
</script>
{% endblock fos_user_content %}
