{% if item.personalized %}
    {% set embed_ = 'DofItemBundle:Templates:personalized.html.twig' %}
{% else %}
    {% set embed_ = 'DofItemBundle:Templates:layout.html.twig' %}
{% endif %}

{% extends embed_ %}

{% block bonus %}
    {% if not item.personalized %}
    <p>
        {% for bonus in (not item.craft ? item.primaryBonus : itemTemplate.primaryBonus)  %}
        <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
        {% endfor %}
    </p>
    {% endif %}
{% endblock %}

{% block admin_links %}
    {% if item.mount %}
        <a class="glyphicon glyphicon-plus" href="{{ path('admin_dof_item_mounttemplate_edit', {'id': itemTemplate.id}) }}"></a>
    {% endif %}
{% endblock %}

{% block actions %}
    {% set last_stuff_action = action_logger.getLastByTypes('build_stuff') %}
    {% if app.user is not null and last_stuff_action is not null and last_stuff_action.entity is not null %}
        {% set last_stuff = last_stuff_action.entity %}
        <form method="POST" action="{{ path('dof_user_character_additem_post') }}">
            <input name="stuff" type="hidden" value="{{ last_stuff.slug }}">
            <input name="useSlot" value="{{ slot_number is defined }}" type="hidden" />
            <input name="items[{{ slot_number | default(0) }}]" type="hidden" value="{{ itemTemplate.id }}">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Equip</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><button type="submit" class="btn tn-link">Équiper sur {{ last_stuff.name }} de {{ last_stuff.character.name }}</a></li>
                </ul>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block left_menu %}
{% endblock %}

{% block footer %}
    {% if itemTemplate.set is not null %}
        <strong>
            <a href="{{ path('dof_set_show', {'slug': itemTemplate.set.slug}) }}">
                {{ itemTemplate.set.getName(locales()) }}
            </a>
        </strong> -
    {% endif %}
{% endblock %}
