{% set slugs = {
    'user': user.slug,
    'character': character.slug,
    'stuff': stuff.slug
} %}
{% set pdv = 55 + (5 * character.level) + characteristics.vitality %}
{% set ini = characteristics.strength + characteristics.intelligence + characteristics.chance + characteristics.agility + characteristics.initiative %}
<ul class="nav nav-tabs" role="tablist">
    <li {{ is_current_page('dof_build_show') | raw }}>
        <a href="{{ path('dof_build_show', slugs) }}">Build</a>
    </li>
    <li {{ is_current_page('dof_build_show_characteristics') | raw }}>
        <a href="{{ path('dof_build_show_characteristics', slugs) }}">Caractéristiques</a>
    </li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>{{ character.name }}</strong>, {{ 'level' | trans({'%level%': character.level}, 'item')}}</h3>
    </div>
    <div class="panel-body text-center">
        <div class="row">
            <div class="col-xs-6 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
                {% include 'DofGraphicsBundle:Component:renderer.html.twig' with {
                'look': stuff.look.toEntityLook()} only %}
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <tr><td><img src="{{ asset('bundles/dofitems/img/vitality.png') }}" alt=""></td>{{ pdv }}</tr>
                            <tr><td><img src="{{ asset('bundles/dofitems/img/ap.png') }}" alt=""></td>{% if character.level > 100 %} {{ characteristics.ap + 7 }} {% else %} {{ characteristics.ap + 6 }} {% endif %}</tr>
                            <tr><td><img src="{{ asset('bundles/dofitems/img/mp.png') }}" alt=""></td>{{ characteristics.mp + 3 }}</tr>
                            <tr><td><img src="{{ asset('bundles/dofitems/img/initiative.png') }}" alt=""></td>{{ ini }}</tr>
                            <tr><td><img src="{{ asset('bundles/dofitems/img/prospecting.png') }}" alt=""></td>{{ characteristics.prospecting + 100 }}</tr>
                            <tr><td><img src="{{ asset('bundles/dofitems/img/range.png') }}" alt=""></td>{{ characteristics.range }}</tr>
                            <tr><td><img src="{{ asset('bundles/dofitems/img/summons.png') }}" alt=""></td>{{ characteristics.summons }}</tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <p>
            {% for bonus in stuff.primaryBonus %}
                <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
            {% endfor %}
        </p>
        
    </div>
</div>
