{% set change_item_link = path('dof_build_additem', {'user': character.owner.slug, 'character': character.slug, 'stuff': stuff.slug, 'type': type}) %}

{% if items[slot] is defined %}
    {% set item = items[slot] %}
    {% set itemTemplate = item.itemTemplate %}

    <a data-toggle="modal" data-target="#modalItem-{{ slot }}" href="#">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ (itemTemplate.webPath) ? itemTemplate.webPath : asset('bundles/dofitems/img/default.png') }}" alt="{{ itemTemplate.getName(locales()) }}" title="{{ itemTemplate.getName(locales()) }}">
        </div>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="modalItem-{{ slot }}" tabindex="-1" role="dialog" aria-labelledby="modalItem-{{ slot }}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalItem-{{ item.id }}Label">{{ itemTemplate.getName(locales()) }}</h4>
                </div>
                <div class="modal-body">
                    {% include 'DofItemsBundle::item.html.twig' with {'item': item, display: 'modal', type: 'build', 'can_write': can_write} only %}
                </div>
                <div class="modal-footer">
                    {% if can_write %}
                    <a href="{{ change_item_link }}" class="btn btn-default" >Changer</a>
                    {% endif %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {% set image %}
        <img src="{{ asset('bundles/dofbuild/img/item.jpg') }}" alt="...">
    {% endset %}

    {% if can_write %}
        <a href="{{ change_item_link }}" class="thumbnail">
            {{ image | raw}}
        </a>
    {% else %}
        <span class="thumbnail">
            {{ image | raw}}
        </span>
    {% endif %}
{% endif %}
