{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{{ thread.subject }}</h2>
    <div class="panel-body">
        <ul class="chat">
            {% for message in thread.messages | reverse %}
                {% if app.user.id == message.sender.id %}
                    {% set alignment = 'right' %}
                {% else %}
                    {% set alignment = 'left' %}
                {% endif %}

                <li id="message_{{ message.id}}" class="{{ alignment }} clearfix">
                    <span class="chat-img pull-{{ alignment }}">
                        <a href="{{ path('dof_profile_userpage', {'slug': user.slug}) }}">
                            <img src="{{ asset(message.sender.getWebPath()) | imagine_filter('50x50') }}" alt="User Avatar" class="img-circle" />
                        </a>
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{ message.sender.username }}</strong>
                            <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>
                                {{ message.createdAt | date_format }}
                            </small>
                        </div>
                        <p>
                            {{ message.body | nl2br }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {#
    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                    Send</button>
            </span>
        </div>
    </div>
    #}

<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
