{% extends '::layout.html.twig' %}

{% block body %}
{% autoescape  %}

<div class="panel panel-default item">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ spell.getName(locales()) }} <font size="2"></font>
            <span class="pull-right"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <a href="/items/dofus-des-veilleurs" class="thumbnail">
                    <img class="img-responsive" src="/bundles/dofitems/img/default.png" alt="Dofus des Veilleurs">
                </a>
                <div class="text-center">
                    <p>
                        {% if spell.preliminary %}
                        <span class="label label-danger">Bêta</span>
                        {% endif %}
                        {% if spell.release != 1 %}
                        <span class="label label-default hidden-xs">{{ spell.release }}</span>
                        {% endif %}
                    </p>
                    <p>
                    </p>
                </div>
            </div>

            <div class="col-sm-9">
                <ul class="nav nav-tabs" role="tablist">
                    {% for rank in spell.ranks %}
                    <li {% if loop.first %}class="active"{% endif %}><a href="#rank-{{ rank.rank }}" role="tab" data-toggle="tab">Niveau {{ rank.rank }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for rank in spell.ranks %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="rank-{{ rank.rank }}">
                        <b>Effets :</b><br>
                        {% for effect in rank.effects if not effect.critical %}
                        {{ effect }}<br>
                        {% endfor %}
                        <br>
                        <b>Effets CC :</b><br>
                        {% for effect in rank.effects if effect.critical %}
                        {{ effect }}<br>
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <hr />
        {% if spell.breeds is not empty %}
            Classes :
            {% for breed in spell.breeds %}
                {{ breed.getName(locales()) }}
                {% if not loop.last %}
                    | 
                {% endif %}
            {% endfor %}

        {% endif %}
        {{ spell.getDescription(locales()) }}
    </div>
</div>
{% endautoescape %}
{% endblock %}
