{% extends 'DofGuildBundle::layout.html.twig' %}

{% block body %}
{% autoescape %}
<h2><a href="{{ path('dof_guild_add') }}">{{ 'add_guild' | trans({},'guild') }} !</a></h2>
  {% for guild in guilds %}

	  	<div class="panel panel-default">
		 	<div class="panel-heading">{{ guild.name }}</div>
		  	<div class="panel-body">
				<table>
					<tr><td><b>{{ 'name_guild' | trans({},'guild') }} : </b></td><td>{{ guild.name }}</td></tr>
					<tr><td><b>{{ 'serv' | trans({},'guild') }} : </b></td><td>{{ guild.server }}</td></tr>
					<tr><td><b>{{ 'lvl_guild' | trans({},'guild') }} : </b></td><td>{{ guild.lvlguild }}</td></tr>
					<tr><td><b>{{ 'recruitment' | trans({},'guild') }} : </b></td><td>{% if guild.recruitment %} {{ 'yes' | trans({},'guild') }} {% else %} {{ 'no' | trans({},'guild') }} {% endif %}</td></tr>
					<tr><td><b>{{ 'description' | trans({},'guild') }} : </b></td><td>{{ guild.description }}</td></tr>
				</table>
				<p class="text-center"><a href="{{ path('dof_guild_show', { 'slug' : guild.slug }) }}"><span class="glyphicon glyphicon-plus"></span>{{ 'show_reg' | trans({},'guild') }} </a></p>
			</div>
		</div>

  {% else %}
      <h2>Pas (encore !) de guilde</h2>
  {% endfor %}

{% include 'DofMainBundle:Default:pagination.html.twig' with {'pagination': pagination} %}
{% endautoescape %}
{% endblock %}
