<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">Dégats {% if critical | default(false) %}CC{% endif %}</th>
        </tr>
    </thead>
    <tbody>
        {% set minDamages = 0 %} {% set maxDamages = 0 %}
        {% set minHeals = 0 %} {% set maxHeals = 0 %}
        {% for effect in effects if not effect.hidden or is_granted('ROLE_SPELL_XRAY') %}
        <tr>
            {% if effect.type == 0 or effect.type == 1 %}
                {% set minDamages = minDamages + effect.param1 %}
                {% set maxDamages = maxDamages + effect.param2 %}
            {% endif %}
            {% if effect.type == 1 %}
                {% set minHeals = minHeals + effect.param1 / 2 %}
                {% set maxHeals = maxHeals + effect.param2 / 2 %}
            {% endif %}
            {% if effect.type == 2 %}
                {% set minHeals = minHeals + effect.param1 %}
                {% set maxHeals = maxHeals + effect.param2 %}
            {% endif %}
            <td>{{ loop.index }}</td>
            <td>{{ effect.htmlDescription | raw }}</td>
        </tr>
        {% endfor %}
        {% if effects | length > 1 %}
            {% if maxDamages > 0 %}
            <tr>
                <td>Total dégâts</td>
                <td>De {{ minDamages }} à {{ maxDamages }}</td>
            </tr>
            {% endif %}
            {% if maxHeals > 0 %}
            <tr>
                <td>Total soins</td>
                <td>De {{ minHeals }} à {{ maxHeals }}</td>
            </tr>
            {% endif %}
        {% endif %}
    </tbody>
</table>
