{% extends "::layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ 'notifications'|trans({}, 'generalTrans') }}</li>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'notifications'|trans({}, 'generalTrans') }}</div>
        <div class="panel-body">
           <table class="table">
                <tbody>
                    {% for notification in notifications if notification.valid %}
                        <a href="{{ notification.path }}">
                            <tr {% if notification.isRead == false %}class="active"{% endif %}>

                                {{ notification.message | raw }}
                                <br>
                                <small>{{ notification.createdAt }}</small>
                            </tr>
                        </a>
                        <hr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
