{% extends 'DofForumBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}<li><a href="{{ path('dof_forum_show_forum', { 'slug' : forum.slug }) }}">{{ forum.getName(locales()) }}</a></li>
    <li>{{ 'new_topic' | trans({}, 'forum')}}</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ forum.getName(locales()) }}</h3>
		</div>
		<div class="panel-body">
            <form method="post" {{ form_enctype(formtopic) }} >
                {{ form_widget(formtopic) }}
                {{ form_rest(formtopic) }}
                <input type="submit" class="btn btn-primary text-center" />
            </form>
		</div>
	</div>
{% endautoescape %}
{% endblock %}
