{% extends 'DofForumBundle::layout.html.twig' %}

{% block body %}
{% autoescape %}
	{% for category in categories %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ category.getName(locales()) }}</h3>
			</div>
			<table class="table">
				<tr>
                    <th></th>
                    <th>{{ 'forum' | trans({}, 'forum')}}</th>
                    <th>{{ 'Description' | trans({}, 'forum')}}</th>
                    <th>{{ 'Nbtopics' | trans({}, 'forum')}}</th>
                </tr>
			    {% for forum in category.forums %}
			    	<tr>
                        <td>
                            <span class="glyphicon glyphicon-star{% if forum.isReadBy(app.user) %}-empty{% endif %}"></span>
                        </td>
                        <td>
                            <a href="{{ path('dof_forum_show_forum', { 'slug' : forum.slug }) }}">
                                {{ forum.getName(locales()) }}
                            </a>
                        </td>
                        <td>
                            <font size="2">
                                {{ forum.getDescription(locales()) }}
                            </font>
                        </td>
                        <td>{{ forum.topics | length }}</td>
                    </tr>
			    {% endfor %}
			</table>
		</div>
	{% endfor %}
{% endautoescape %}
{% endblock %}
