{% extends 'DofForumBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ forum.getName(locales()) }}</li>
{% endblock %}

{% block body %}
{% autoescape %}
	<div class="panel panel-default">

		<div class="panel-heading">
            <a style="float: right;" href="{{ path('dof_forum_add_topic', { 'slug' : forum.slug }) }}"><span class="glyphicon glyphicon-plus"></span> {{ 'new_topic' | trans({}, 'forum')}}</a>
			<h3 class="panel-title">{{ forum.getName(locales()) }}</h3>
		</div>
		<table class="table">
			<tr>
                <th></th>
                <th>{{ 'topic' | trans({}, 'forum')}}</th>
                <th class="hidden-xs">{{ 'by' | trans({}, 'forum')}}</th>
                <th>{{ 'at' | trans({}, 'forum')}}</th>
                <th class="hidden-xs hidden-sm">{{ 'replies' | trans({}, 'forum')}}</th>
            </tr>
			{% for topic in forum.topics %}
				<tr>
                    <td>
                        {% if app.user is not null and topic.isReadBy(app.user) %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                        {% else %}
                              <span class="glyphicon glyphicon-star"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('dof_forum_show_topic', { 'slug' : topic.slug }) }}">
                            {{ topic.name }}
                        </a>
                    </td>
                    <td class="hidden-xs">
                        <a href="{{ path('dof_profile_userpage', { 'slug' : topic.owner }) }}">
                            {{ topic.owner }}
                        </a>
                    </td>
                    <td>
                        {{ topic.lastPost | date_format() }}
                    </td>
                    <td class="hidden-xs hidden-sm">{{ topic.countPosts - 1 }}</td>
                </tr>
                {% else %}
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td>{{ 'notopic' | trans({}, 'forum')}}</td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
			{% endfor %}
		</table>
	</div>
{% endautoescape %}
{% endblock %}
