{% extends 'DofForumBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('dof_forum_show_forum', { 'slug' : topic.forum.slug }) }}">{{ topic.forum.getName(locales()) }}</a></li>
    <li>{{ topic.getName(locales()) }}</li>
{% endblock %}

{% block body %}
{% autoescape %}
    <div class="page-header">
      <h1>{{ topic.getName(locales()) }}
      {% if topic.locked %}
			<b>({{ 'topic_lock' | trans({}, 'forum')}})</b>
	  {% endif %}
	  </h1>
    </div>
	{% for message in topic.messages %}
		<div class="panel panel-default" id="message-{{ message.id }}">
		  	<div class="panel-body nopadding">
		  	    <p class="text-right padding-right">{{ message.createdAt | date_format()}}</p>
		    	<table class="table">
					<tr>
				        <td rowspan="2" class="col-xs-4">
				        	{% set role='' %}
						    {% set color='' %}
				        	{% if message.owner.hasRole('ROLE_SUPER_ADMIN') %}
						      	{% set role='Admin' %}
						      	{% set color='bg-danger' %}
							{% elseif message.owner.hasRole('ROLE_STYLIST') %}
								{% set role='Styliste' %}
								{% set color='bg-success' %}
							{% endif %}
					        <div class="thumbnail">
						      <div class="caption {{ color |default() }}">
						      	<table>
						      		<tr><td><a href="{{ path('dof_profile_userpage', { 'slug' : message.owner }) }}">{{ message.owner }}</a></td></tr>
						      		<tr><td><img src="{{ asset(message.owner.getWebPath()) }}"></td></tr>
						      		<tr><td>{{ 'inputs.guild' | trans({}, 'profile') }}: {{ message.owner.guilde }}</td></tr>
						      		<tr><td>{{ 'inputs.location' | trans({}, 'profile') }}: {{ message.owner.lieu }}</td></tr>
						      		<tr><td>{{ 'register_at' | trans({}, 'forum')}}: {{ message.owner.createdAt | date("d/m/Y") }}</td></tr>
						      		<tr><td><b>{{ role |default() }}</b></td></tr>
						      	</table>
						      </div>
						    </div>
						</td>
				        <td class="col-xs-8">
				        	<div class="jumbotron">
				        		{{ message.content }}
				        	</div>
				        </td>
				    </tr>
				    <tr>
				        <td></td>
				    </tr>
				</table>
				
		  	</div>
		</div>
	{% endfor %}
	<center>
		 
		{% if topic.getLocked() %}
			<a disabled="disabled">
		<button type="button" class="btn btn-default btn-lg">
		    {{ 'topic_lock' | trans({}, 'forum')}}
		</button></a>
		{% else %}
			<a href="{{ path('dof_forum_add_message', { 'slug' : topic.slug }) }}">
		<button type="button" class="btn btn-default btn-lg">
		    {{ 'respond' | trans({}, 'forum')}}
		</button></a>
		{% endif %}
	</center>
{% endautoescape %}
{% endblock %}
