{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  <li>Validation de : {{ article.getName() }}</li>
{% endblock %}

{% block body %}

{% if newArticle %}
  <article itemscope itemtype="http://schema.org/Article">
    <div class="page-header">
      <h1>
        <span itemprop="name">{{ article.getName(locales()) }}</span>
        <small>
          <time itemprop="dateCreated" datetime="{{ article.createdAt | date("Y-m-d") }}">{{ article.createdAt | date("d/m/Y") }}</time>
        </small>
      </h1>
      By <a href="{{ path('dof_profile_userpage', {'slug' : article.owner.slug}) }}">{{ article.owner.username }}</a>
    </div>
    <div class="well well-lg" itemprop="articleBody">
      {{ article.getDescription(locales()) | raw }}
    </div>
  </article>
{% else %}
  <h2>Différences avec l'article original:</h2>
  <article itemscope itemtype="http://schema.org/Article">
    <div class="page-header">
      <h1>
        <span itemprop="name">{{ article.getName(locales()) }}</span>
        <small>
          <time itemprop="dateCreated" datetime="{{ article.createdAt | date("Y-m-d") }}">{{ article.createdAt | date("d/m/Y") }}</time>
        </small>
      </h1>
      By <a href="{{ path('dof_profile_userpage', {'slug' : article.owner.slug}) }}">{{ article.owner.username }}</a>
    </div>
    <div class="well well-lg" itemprop="articleBody">
      {{ dump(diff) }}
    </div>
  </article>

{% endif %}

{% endblock %}